[2014-11-26 04:42] tresf opened #1 "RC-Branch: Serial Data not making it to browser"
@robertcasto this is what I'm seeing from the IntelliJ console:

[code]

However, the weight value from the scale doesn't appear to be making it to the web browser.

[2014-11-26 04:46] robertcasto commented on #1
I'll look at it in the morning.

On Tue, Nov 25, 2014 at 11:42 PM, Tres Finocchiaro <notifications@github.com

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2014-11-26 04:54] tresf opened #2 "Timeout on read"
@robertcasto is this normal, or related to serial support?  I would assume we wouldn't ever want the socket to shut itself down.

[code]

[2014-11-26 05:01] tresf opened #3 "#content background-color"
Placeholder to add enhancement to use a more specific container ID for the background color statuses as "content" has too much potential for client code conflict.  This wasn't a problem in sample.html because the javascript code was strictly for example only.  Now we have a redistributable JS, we should change it to something less likely to be in someone's DOM....

Recommendation: `<body id="qz-st

[2014-11-26 05:22] robertcasto commented on #2
After a while the socket will close. That is normal because it is a
resource that the browser doesn't want to keep open all the time. Another
attempt at printing something should reestablish the connection if it is
closed. I'll run some tests and make sure that is working correctly.

On Tue, Nov 25, 2014 at 11:54 PM, Tres Finocchiaro <notifications@github.com

##

Robert Casto
_Owner | SellersTool

[2014-11-26 14:22] robertcasto commented on #2
Keep alive will be implemented to ensure the browser can receive messages
from the server at any time.

On Wed, Nov 26, 2014 at 12:22 AM, Robert Casto casto.robert@gmail.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2014-12-04 03:21] tresf commented on #1
@robertcasto, This still seems to be a problem after testing out the latest commits...

The hardware is definitely receiving the command, but the callback never seems to be fired.

I can't seem to find any obvious errors in the browser console.  Here's the output log:

[code]

[2014-12-04 03:31] tresf commented on #1
So, the `qz.closePort()` callback says "undefined" was successfully closed, if that helps investigation.

![image](https://cloud.githubusercontent.com/assets/6345473/5293245/191647d2-7b3c-11e4-8d21-0019d6bbb9d9.png)

-Tres

[2014-12-04 03:36] robertcasto commented on #1
Thanks. I'll look in the morning. A lot to review here.

On Wed, Dec 3, 2014 at 10:31 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2014-12-08 15:38] tresf opened #4 "qz-tray deployment"
This is a placeholder for some thoughts around qz-print deployment.

In version 1.8, the methods of deployment are:
- Via `<applet>` tag in the browser utilizing the Java plugin for the web browser (known as IcedTea on OpenJDK platforms)
  - Deployment is managed using `deployJava.js`, an Oracle JavaScript file.
  - If Java is not installed, the user is redirected to the Java download page
  - If

[2014-12-10 13:44] tresf commented on #2
I assume this is safe to close.  I will reopen if this issue resurfaces.

[2014-12-10 13:44] #2 closed, assigned to nobody

[2014-12-12 06:07] tresf commented on #1
@robertcasto So this is still broken... Here is what Chromes console says:

[code]

And from the server:

[code]

I wonder if there a raw hex character breaking the print stream?  How does json encode special characters?

[2014-12-12 06:12] tresf commented on #1
I wanted to clarify that the result that Chrome is getting back in the console appears to be perfect, so we may have some hex escaping that we need to accommodate for, namely that \u0002, which is the valid STX character for the scale.

[2014-12-21 15:34] tresf commented on #1
Closed via 77b46269ca49718caeabb9e5e2efb778713f0727

[2014-12-21 15:34] #1 closed, assigned to robertcasto

[2015-02-18 02:00] tresf opened #5 "qz-tray GUI enhancements"
- [x] Log viewer should periodically self-update
- [x] Site manager should resize better
- [x] Rephrase tray message "Blocked xyz from ever being able to print"

[2015-03-04 18:09] tresf opened #7 "expiration warning for certificates"
We need to add expiration warning support for qz-tray when certificates are close to expiration.

[2015-03-11 13:06] tresf commented on #5
Completed.

[2015-03-11 13:06] #5 closed, assigned to nobody

[2015-03-14 19:57] tresf opened #8 "Null printer name"
**Steps to reproduce:**
1. Run QZ-Tray
2. Open `sample_ws.html`
3. Click "Allow" if prompted
4. Click "Find Printer" button
5. Click "List all printers" button
6. Click "Print EPL"

![image](https://cloud.githubusercontent.com/assets/6345473/6653297/bfaad0a2-ca62-11e4-9691-9c3e118dcaea.png)

[2015-03-16 20:16] tresf commented on #8
Closed via f798200 95d4260

[2015-03-16 20:16] #8 closed, assigned to nobody

[2015-03-17 01:18] tresf opened #9 "PDFs fail on Applet"
@robertcasto @bberenz

It appears something is broken with the new applet (non-websockets) as when I build and try to print a PDF or anything in the PostScript column, it throws an exception.

[2015-03-19 00:40] tresf opened #10 "CRL support"
This is a placeholder for CRL support via WebSockets implementation.
- [X] Fetch CRL asyncronously
- [x] Move CRL to Amazon Web Services / CDN
  - Done 5/29 via https://crl.qz.io --> https://d394qbcjy82lwe.cloudfront.net/

[2015-03-19 00:50] tresf opened #11 "Page Refresh/GatewayDialog"
The Gateway dialog doesn't behave properly with page refreshes... It displays for the first WebSocket connection and the refreshed page doesn't receive the "Allow".

Steps to reproduce:
1. Run QZ Tray
2. Load `sample_ws.html` in a Web Browser.
3. Click the tray to display the GatewayDialog
4. Leave the GatewayDialog open and refresh the page on the browser
5. Switch to the GatewayDialog, click All

[2015-03-19 04:19] tresf opened #12 ""Open File Location" not working on Widows XP"
The "Open File Location" option does not work on Windows XP.  The following error is displayed:

![image](https://cloud.githubusercontent.com/assets/6345473/6724373/1ba250ac-cdcd-11e4-8251-22e58a78854f.png)

[2015-03-19 04:38] tresf commented on #12
Closed via abe641d

[2015-03-19 04:38] #12 closed, assigned to nobody

[2015-03-19 14:42] tresf commented on #9
@robertcasto @bberenz I'm having a hard time reproducing this... I'll leave it open in case it resurfaces, but things seem to be working just fine at the moment.

[2015-03-19 15:05] robertcasto commented on #9
Glad to hear that you are having trouble. :)

If this cannot be reproduced in the next few days, then should we close this? Any idea why you might have seen it in the first place?

On Thu, Mar 19, 2015 at 10:42 AM, Tres Finocchiaro <notifications@github.com

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amaz

[2015-03-19 20:37] tresf commented on #4
As of last night, we have pretty good browser detection for WebSockets and we also have a decent Windows installer.  Closing this out.

Futuremap will involve Linux shell installer via [`makeself`](http://megastep.org/makeself/) and Apple installer via [`node-appdmg`](https://github.com/LinusU/node-appdmg).

-Tres

[2015-03-19 20:37] #4 closed, assigned to tresf

[2015-03-20 04:40] tresf opened #13 "Linux Installer"
Started via https://github.com/qzind/qz-print/commit/595767c321ca5b7ba663676344ff9172eebf3b58

![screen shot 2015-03-20 at 12 37 29 am](https://cloud.githubusercontent.com/assets/6345473/6746119/52ee421a-ce99-11e4-907a-d9f2300a1426.png)

[2015-03-20 12:57] robertcasto commented on #10
Steven is in all day today so I will have him take a look.

[2015-03-20 12:58] tresf commented on #9
@robertcasto I was trying to reproduce with the websockets version which works.  This bug is with the applet version...

I figured out why it is happening... I believe your'e setting a boolean flag for `printPS`, but never using it.

https://github.com/qzind/qz-print/blob/1.9/qz-print/src/qz/PrintApplet.java#L609

Can you or @bberenz take a look?

Also if I can get some info on the CRL stuff from

[2015-03-20 14:51] tresf commented on #9
Closed via b03b53f63535330c7c50adcfe9d908398f6a5402. (Thanks Brett)

[2015-03-20 14:51] #9 closed, assigned to nobody

[2015-03-20 19:23] sjennison commented on #10
CRL support should be functional now on latest 1.9

you will need to change the URL in CRL.java to point to the correct location. Should be an easy change.

[2015-03-21 03:41] tresf commented on #10
Terrific.   I made some more comments in the commit area.  I'll switch over the URL now.

[2015-03-25 18:29] tresf opened #14 "Notification when QZ Tray is not running"
@bberenz @robertcasto can we put in logic to display an alert when QZ Tray is not running?

[2015-03-25 18:29] tresf commented on #14
Clarification... this would be on page load.

[2015-03-25 19:15] robertcasto commented on #14
You mean when the Javascript cannot find the websocket? Yes, that can be
done.

On Wed, Mar 25, 2015 at 2:29 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-03-25 19:16] robertcasto commented on #14
What kind of notification would you like? Popup dialog? Message dialog that
goes away after a little while?

On Wed, Mar 25, 2015 at 3:15 PM, Robert Casto casto.robert@gmail.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-03-25 20:27] robertcasto commented on #14
Brett instead made it so you can supply a function that can do whatever
kind of alert you want. The change has already been checked in.

On Wed, Mar 25, 2015 at 3:16 PM, Robert Casto casto.robert@gmail.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-03-25 21:07] tresf commented on #14
Closed via https://github.com/qzind/qz-print/commit/4080322b2abe1432279f6235c2824f676648a393

:+1:

[2015-03-25 21:07] #14 closed, assigned to nobody

[2015-03-26 02:54] tresf opened #15 "Support for secure websockets"
Firefox by default blocks non-secure websockets connections from HTTPS locations.  This is meant to be a placeholder for secure websockets (`wss://`) support.

**Current design includes:** (please check off items as they are completed):
-  [x] **Generating a jself-signed Java Keystore**
  - [x] Windows
  - [x] MacOS
  - [x] Ubuntu
-  [x] **Exporting an OS certificate**
  - [x] Windows
  - [x] MacO

[2015-03-26 02:55] tresf commented on #15
@sjennison per e466811, 165cdb9  Windows support should be finished.  Can you take a look at implementing the Java portion?

[2015-03-28 00:45] tresf commented on #15
@robertcasto is @sjennison planning on tackling this still?

[2015-04-01 13:09] sjennison commented on #15
Yep - I'll be working on it today

[2015-04-01 13:19] tresf commented on #15
Great! :+1:

[2015-04-03 13:51] tresf commented on #15
@sjennison FYI, updated the GitHub checklist to illustrate task completion of Ubuntu cert generation and installation.

To try out the windows self-cert portion, you'll have to:
- Install NSIS
- Do `make nsis` using ANT
- Run the qz-tray-1.8.90-setup.exe from the `out` directory
- As part of the Windows setup, the cert will be installed as part of the desktop installer (to fulfill the admin access

[2015-04-06 21:02] sjennison commented on #15
@tresf - is there a good way to reference that properties file from the Java code? Not sure where it would end up from the code in the .js file :)

[2015-04-06 21:11] tresf commented on #15
@sjennison,

It should be in the install directory.  For the installed-version (not running through IntelliJ), this should be the same directory as [`ShortcutUtilities.getJarPath()`](https://github.com/qzind/qz-print/blob/1.9/qz-print/src/qz/deploy/ShortcutUtilities.java#L343).

For when running through IntelliJ, the properties won't necessarily be available, but we can discuss that later.

[2015-04-10 04:41] tresf opened #16 "Minimum Java Version"
@robertcasto @bberenz

I see we have the `javac.target=1.6` (true for the applet version), but the WebSocket version requires 1.7.

I'm improving the WebSocket installers to do Java version checking, so I'd like to have the correct minimum version as part of the ant build for the WebSocket end of things, which I'll use as part of my installer checks as well via [`linux-installer.sh.in#L39`](https:

[2015-04-11 00:44] robertcasto commented on #16
The Jetty Webserver and Web Sockets need JDK7 so there really isn't a nice
way to go backward. Are users really not able to use JDK 1.7?

On Fri, Apr 10, 2015 at 12:41 AM, Tres Finocchiaro <notifications@github.com

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-04-11 00:56] tresf commented on #16
@robertcasto I think you misunderstood the question.  I'm fine with 1.7 for sockets.  I'm inquiring about setting it as a hard requirement in ANT.  You've already done this for the applet side (albeit 1.6), I feel we just need to repeat for the socket build portion.

[2015-04-11 00:57] tresf commented on #16
... and the point of this... once ant has the 1.7 requirement for the sockets, I'll make the desktop installers look for that minimum version as well (get the min-ver from ant, so the scripts aren't hard coded with 1.7, etc)

[2015-04-11 01:03] robertcasto commented on #16
Ah, ok. The compile version is a build setting so it can be set easily. I'm
not looking at the code right now, but I believe that was pulled out to a
property file as well.

On Fri, Apr 10, 2015 at 8:57 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon

[2015-04-11 01:04] tresf commented on #16
Right, this is a placeholder to get it in the same place (i.e. `project.properties`) so that I can pull from it too.

[2015-04-13 18:15] tresf commented on #16
@robertcasto please let me know if your team will be able to tackle this one.

[2015-04-13 18:29] robertcasto commented on #16
Yes, we will tackle this.

On Mon, Apr 13, 2015 at 2:15 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-04-17 22:25] tresf opened #17 "Safari 5.1.7 does not work"
When attempting to use QZ Tray on OSX Lion, Safari 5.1.7 never establishes a socket connection and Jetty shows the following error:

[code]

[2015-04-17 22:40] tresf commented on #17
From what I'm reading, Safari 5.x supports a very old version of WebSockets.  We may want to capture this version requirement message for end-users so that they are notified when on older browsers.

[2015-04-18 01:06] tresf commented on #13
Completed via:  4ae0afb, 3c3c7d9, f6982a6, 1a82056, 8f0c8e5, 9bcf053

[2015-04-18 01:06] #13 closed, assigned to nobody

[2015-04-20 23:17] tresf commented on #16
Pretty sure @bberenz tackled this one already.  Closing.

[2015-04-20 23:17] #16 closed, assigned to nobody

[2015-04-22 03:26] tresf opened #18 "Cert import Firefox"
@robertcasto @bberenz Mozilla has no way of using the OSs Trusted Root certificate store.

This means certificate imports into Firefox are only possible by using the mozilla `certutil` command.  This utility is not distributed with the Firefox browser.

For secure websockets to work in Firefox, we need a way of utilizing a trusted certificate.  In the case of a self-signed certificate, we will nee

[2015-04-22 03:46] tresf commented on #18
The irony of this `wss://` problem is that Firefox is the browser which by default blocks mixed content pages and it appears to be the hardest to get `wss://` working on....

NSIS appears to have some support for this, but I'm not sure how....

http://nsis.sourceforge.net/Import_Root_Certificate

[2015-04-22 03:57] tresf commented on #18
NSIS appears to have some support for this, but I'm not sure how....

http://nsis.sourceforge.net/Import_Root_Certificate#Code_2

[2015-04-22 04:04] tresf commented on #18
@Lukas-W, do you have a moment to look into the feasibility of using NSIS to install the Firefox certificate, at least on windows?  I think we can use this same method for the OS certificate on Windows.

[2015-04-22 13:24] tresf commented on #18
@Lukas-W I have a moment so I'm going to start this now.  No need to look at it.

[2015-04-22 15:44] lukas-w commented on #18
All right. :)

[2015-04-22 20:41] tresf commented on #18
From what I'm seeing Nullsoft's installer does this much better than any hacked attempt using the official `certutil` command, but it only installs to the currently logged in user, which I really dislike.  It appears this `cert8.db` database is created for each Firefox profile and not something that can be edited for the entire system meaning the installer would have to be re-run for each user, wh

[2015-04-23 02:41] tresf commented on #18
OK @Lukas-W I'd like to ask for some help... NSIS appears to be calling some C++ nss3 components to import the certificate.  Mozilla's NSS library is pretty straight forward, but I'm not very good at this stuff...  I've marked where the script is erroring out below.

Here's a chunk of the NSIS example script for importing a cert into Firefox...

[code]

What I'm not sure of is whether or not this

[2015-04-23 02:42] tresf commented on #18
Typo at error location.  Fixed previous post.

[2015-04-23 03:08] tresf commented on #15
@robertcasto @bberenz, FYI, Firefox didn't like the `.crt` unless I enabled a CA flag on it via.  https://github.com/qzind/qz-print/commit/87dd86b5f5a10df14c090b8dd31b95407007c9fb

Not sure if jetty needed this flag too, so FYI.

[2015-04-23 03:10] sjennison commented on #15
So it's importing successfully into Firefox?

On Wed, Apr 22, 2015, 23:08 Tres Finocchiaro notifications@github.com
wrote:

[2015-04-23 03:27] tresf commented on #15
@sjennison, only manually at the moment.  The NSIS stuff is still giving me a hard time per #18.

I'm tempted to look into a JNI approach because Firefox is a very difficult beast as it simply won't read from the OS certs by design.

But back on topic... yes, it will import into Firefox now via manual method.  That CA flag passed into Java's keystore generator was the ticket.

![image](https://clo

[2015-04-23 03:28] tresf commented on #15
But yes, it will import into Firefox now via manual method.  That CA flag passed into Java's keystore generator was the ticket.

![image](https://cloud.githubusercontent.com/assets/6345473/7290081/47b34fa8-e947-11e4-939f-d86010353eeb.png)

[2015-04-23 03:46] tresf commented on #18
Ok... I think this is a classic case of it expecting base64 data and the `-----BEGIN CERTIFICATE-----` breaks the import per https://groups.google.com/forum/#!topic/mozilla.dev.tech.crypto/6npi0AiNw-c

[2015-04-23 04:07] tresf commented on #18
Removing the BEGIN/END doesn't fix this.  Any help into debugging this `CERT_DecodeCertFromPackage` is appreciated. :+1:

[2015-04-23 05:32] tresf commented on #18
So after reading the NSIS usage, it appears `CERT_DecodeCertFromPackage` is offered with the `smime3.dll` per:

But `smime3.dll` isn't distributed with Firefox.  If there is a replacement DLL, then the script should be updated to reflect that.   Unfortunately, finding recent documentation on this is very difficult.

[2015-04-23 15:05] akberenz commented on #17
@tresf I have a possible fix, but I need you to confirm that it won't give a false negative on newer versions of safari, which I cannot download for windows.
Can you post the output of `console.log(typeof WebSocket);` from a newer version of safari?

[2015-04-23 15:35] tresf commented on #17
[code]

Safari 8.0.4, OSX Yosemite (2015):

[code]

Safari 5.1.7, OSX Lion (2012):

[code]

[2015-04-23 21:01] akberenz commented on #17
Just want to document the source for this fix:
http://stackoverflow.com/questions/17849517/check-to-see-if-websocket-is-hixie-client-side

[2015-04-24 02:09] tresf commented on #17
Terrific.  We'll consider this closed via 8912b4f. :)

[2015-04-24 02:09] #17 closed, assigned to nobody

[2015-04-24 18:44] tresf commented on #15
@bberenz This is defined here:

https://github.com/qzind/qz-print/blob/1.9/qz-print/ant/self-sign.properties#L19

We should be able to just change this from `-dname \\"CN=${jks.company},` to `-dname \\"CN=localhost,`.

Want me to do that now, or are you comfortable trying it?

[2015-04-24 19:27] tresf commented on #15
@bberenz @sjennison do we have a way of detecting an invalid cert in JavaScript for the wss:// stuff?  If so, perhaps we can provide manual instructions to the user to import the cert into Firefox until we develop an automated way.

[2015-04-27 00:48] tresf commented on #18
I filed an upstream bug report with NSIS to see if they could help.  https://sourceforge.net/p/nsis/bugs/1119/

In the mean time, I'll see what other methods are available.

[2015-04-27 04:12] tresf commented on #15
@sjennison @bberenz what was the trick to get the cert working with Chrome?  I finally have IE working, but Chrome won't connect.

I've changed `CN=localhost` vi 21425a6 and Internet Explorer works, but Chrome `Version 42.0.2311.90 m` is still giving me a hard time.  Here's a copy of the cert...

**CERT**

[code]

[2015-04-27 05:41] tresf commented on #15
So it turns out the certificate wasn't complex enough.  I bumped it to RSA 2048 via  5dd5011 and it seems to be in much better shape now.

Chrome is working now, but Firefox is not unless I hand-allow the cert exception via `https://localhost:8181`.

The Firefox error is: `mozilla_pkix_error_ca_cert_used_as_end_entity`

**Edit:** Somewhat related, here's a decent conversation about it: https://bug

[2015-04-28 04:03] tresf commented on #15
So I've been looking for a valid way to generate a certificate chain for a web server, and came across this, specifically the section **Generating Certificates for a Typical SSL Server**

http://docs.oracle.com/javase/7/docs/technotes/tools/windows/keytool.html

A couple of questions...

Do we need all three components:
1. Root
2. CA
3. Server

Or can we get away with two:
1. Root
2. Server

I've

[2015-04-29 04:44] tresf commented on #15
So I'm still struggling to get past the `end_entity` Firefox error.

I believe this is possible if we can chain a separate `server` certificate just for jetty, but I'm struggling to find a way to do this on-the-fly as I can't figure out a way for Java to process a CSR in order to make a certificate chain.

I've read quite a few tutorials and they all seem to be under the assumption that the CSR is

[2015-04-29 14:00] tresf opened #19 "Are secure websockets possible?"
So I'm growing increasingly concerned with the feasibility of secure websockets

The current obstacles:
- [x] Generating a self-signed CA certificate that works with Firefox
  - From research, Endpoint Entitiy cert can't be a CA cert
  - Jetty must start using the Endpoint Entity cert
  - Firefox must import the CA cert
  - How can we script this for all platforms at install time?
- [x] Import  th

[2015-04-29 18:37] tresf commented on #18
I reached out to a plugin author for Firefox and he send me this link...

https://mike.kaply.com/2015/02/10/installing-certificates-into-firefox/

[2015-04-29 18:41] robertcasto commented on #18
Thanks

On Wed, Apr 29, 2015 at 2:37 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-04-29 20:47] tresf commented on #18
After following Mike Kaply's instructions, I believe I have an import for Firefox working using the preferences file and installs to all users.

Issues:
- Requires a restart of the Firefox browser (minor)

Todo:
- Determine a way to dynamically feed the base64 certificate data (no newlines or special delimiters) into a firefox config file.
- Find out how to remove the certificate on uninstall

Not

[2015-04-30 03:56] tresf commented on #19
This was fixed by turning off the CA flag in the certificate so that Jetty acts as an Endpoint Entity.  The reason this works is when the GUI isn't being used to import the cert, non-CA certs can be added to the Firefox Trusted CA Root Store.

This is tackled via two new files: `ant/firefox/firefox-config.cfg.in` and `ant/firefox/firefox-prefs.js.in` which are copied into the `Program Files\Mozill

[2015-04-30 04:04] tresf commented on #15
Initial Firefox support on Windows has been added via 8d61a68

[2015-04-30 04:05] sjennison commented on #15
Awesome! Anything you need me to do on this now?

On Thu, Apr 30, 2015, 00:04 Tres Finocchiaro notifications@github.com
wrote:

[2015-04-30 04:06] #19 closed, assigned to nobody

[2015-04-30 04:07] tresf commented on #18
Closed via 8d61a68. Will track Mac and Linux in #15

[2015-04-30 04:07] #18 closed, assigned to nobody

[2015-04-30 04:10] tresf commented on #15
A better understanding of the feasibility of HTTP fallback support would be a plus although that may be a @bberenz task.

[2015-04-30 04:11] tresf commented on #15
Also, were you able to reproduce the installer problem you had reported?

[2015-05-01 16:33] akberenz commented on #15
Fallback support added via 9ebe9459be71a81586e79c403d7b69999531644e.
The socket will attempt all the WSS ports before trying the WS ports, so insecure connections will take a little longer to be established.

[2015-05-01 16:35] akberenz commented on #11
Should be fixed via 5735b32ba5ceeb44640e94f83e0a81473985110d, the dialogs will now get queued up and displayed to the user.

[2015-05-01 16:38] tresf commented on #15
@bberenz, this is great, thanks.  One thing we haven't added yet is the ability to start the server on ws://.  Ideally, we'd have at least one and up to two instances listening.

[2015-05-05 15:08] tresf opened #20 "Halt Firefox Cert Install in Enterprise Environment"
Per Mike Kaply:

So the task is to check to see if AutoConfig is not already configured for Firefox prior to certificate installation.

[2015-05-05 15:43] tresf commented on #10
Since the asyncronous fetching was introduced, this CRL fetch seems to be failing in the log file.  Can we get a sanity check that this is still working?

Also, @robertcasto @bberenz I could still use some assistance setting up CRL up with a CDN such as Amazon.  Is this something your team could help with?  I assume I'll have to purchase something, change some DNS entries, etc and if I could get s

[2015-05-05 17:03] robertcasto commented on #10
Steven is looking into this.

On Tue, May 5, 2015 at 11:43 AM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-05-05 17:20] tresf commented on #10
Thanks it looks like it was a false-positive in the code which is great.

Now that is fixed... How about the CDN stuff?

[2015-05-05 17:38] tresf commented on #10
Ok... I setup the CDN side here:
https://s3.amazonaws.com/qztray/crl

Now I just need help pointing the http://crl.qzindustries.com to the amazon location.

[2015-05-05 18:33] robertcasto commented on #10
If that is just a redirect, then it is fairly easy to do through DNS with
that subdomain. Is qzindustries.com registered with godaddy? If so, I can
walk you through the process.

On Tue, May 5, 2015 at 1:38 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Am

[2015-05-05 20:08] tresf commented on #10
I think I got it.  Looks like Godaddy does the heavy lifting in terms of adding the DNS address, etc.

http://crl.qzindustries.com

[2015-05-05 20:47] robertcasto commented on #10
Yup. Looks like it is working. :)

On Tue, May 5, 2015 at 4:08 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-05-05 20:58] #10 closed, assigned to nobody

[2015-05-06 03:33] tresf opened #21 "QZ Tray remembers sites after deleted from Site Manager"
1. Launch QZ Tray
2. Launch sample.html
3. When prompted by GatewayDialog, click "Always allow"
4. Open site manager, delete (Demo) localhost
5. Refresh sample.html
6. Notice the GatewayDialog never reappears

Expected behavior is to re-show the GatewayDialog after a site has been deleted.

[2015-05-06 03:55] tresf commented on #20
Closed via https://github.com/qzind/qz-print/commit/395fbcc02223334f805061d6fdd8e1cdb4e2b27b

![image](https://cloud.githubusercontent.com/assets/6345473/7487266/2aec71a2-f382-11e4-9d37-a0bc39b0ab0b.png)

and in the log:

![image](https://cloud.githubusercontent.com/assets/6345473/7487282/982ae0d2-f382-11e4-9eaf-9b8a6fe9e748.png)

[2015-05-06 03:55] #20 closed, assigned to nobody

[2015-05-06 19:55] tresf commented on #21
Could not reproduce with latest version.  Closing.

[2015-05-06 19:55] #21 closed, assigned to nobody

[2015-05-06 19:57] tresf commented on #11
@bberenz Terrific, thank you. @robertcasto this even works with the "Always Allow" because the dialog itself checks the certificate which checks the whitelist, thus essentially clicking "Yes" for every dialog that appears (so one "Yes" suppresses them all if the "Always allow" is checked.  This works terrifically.

[2015-05-06 19:57] #11 closed, assigned to nobody

[2015-05-06 19:58] tresf commented on #7
This is really a bookkeeping exercise.  End users don't necessarily need to be bothered with this.  Closing.

[2015-05-06 19:58] #7 closed, assigned to nobody

[2015-05-06 20:01] robertcasto commented on #11
This is good to hear. Hopefully the other changes will go just as well.

On Wed, May 6, 2015 at 3:57 PM, Tres Finocchiaro notifications@github.com
wrote:

##

Robert Casto
_Owner | SellersToolbox_
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com
www.sellerstoolbox.com
Tools for Amazon Sellers

[2015-05-06 20:10] #3 closed, assigned to nobody

[2015-05-08 04:18] tresf commented on #15
Apple is working per https://github.com/qzind/qz-print/commit/84d8b5365a3d6c96649d55db1edd03fecc660a82

We still have a few items to work out in terms of how to Uninstall properly, etc, but the screenshot below has Firefox and Chrome running using Secure Websockets.

![image](https://cloud.githubusercontent.com/assets/6345473/7530490/7006daa2-f517-11e4-9d97-6ccac0bd927a.png)

[2015-05-08 13:45] tresf opened #22 "Unable to access jarfile (Apple)"
Reported by an Apple beta tester:

[code]

[2015-05-12 02:37] #22 closed, assigned to nobody

[2015-05-12 04:06] tresf commented on #15
A tester reported an issue launching the software on Apple per #22 which is hopefully fixed now.

The next items are installer related:
- Delete old certs prior to importing new ones on Apple
  - Done via https://github.com/qzind/qz-print/commit/b70e975c56a7f0ebec511b8da662f9cd35af7d80
- Add uninstall support for Apple
- Add the Firefox cert logic to Linux
- Determine plan of attack for Chrome on

[2015-05-13 23:44] tresf opened #23 "Signing .pkg files on Apple"
Apple blocks the plugin installation on Yosemite (and possibly others) because it is not a "signed" application.

![image](https://cloud.githubusercontent.com/assets/6345473/7623440/61ca4876-f9a8-11e4-91f8-e7c12605a568.png)

It appears any key in the default keyring can sign, I'm not sure if our code-signing certificate will do the trick or not.  Will try via:

http://thegreyblog.blogspot.com/2014

[2015-05-14 01:34] tresf commented on #23
Research shows:
- [ ] ability to sign requires:
  - [ ] an apple developer ID, which requires
    - [x] an apple developer subscription ($99/year) which requires
      - [x] the company to be registered via D-U-N-S which requires
        - [X] D-U-N-S request to be sent
        - [x] D-U-N-S request to be processed

[2015-05-14 05:09] tresf commented on #11
FYI, added new `ConfirmDialog` vi https://github.com/qzind/qz-print/commit/7598bddd61f924fa64c9d66048ee2524f65b64e3 for UI consistency and also to allow `setAlwaysOnTop(true);` similar to `GatewayDialog` as this too was getting hid behind other windows.

![image](https://cloud.githubusercontent.com/assets/6345473/7626350/b15dfacc-f9d5-11e4-8db1-66d56b9bcf15.png)

[2015-05-18 16:40] tresf opened #24 "Signing Preemptive Functions"
@robertcasto @bberenz

One of our customers is inquiring why we sign the preemptive function calls (ones that work without signing), i.e.

[code]

His argument is that initial load requires 6 signings to occur weighing in a 500ms load time on page refresh.

I tend to agree... If the untrusted version doesn't require a signature on these functions, why would the trusted version require a signature?

[2015-05-18 16:58] tresf commented on #24
Ok, this is what I've come up with... feedback appreciated:

**`qz-websocket.js`**

[code]

**`sample.html`**

[code]

[2015-05-18 17:04] tresf commented on #23
These D&B "D-U-N-S" guys keep leaving a voicemail while I'm at my day job.  Hopefully I'll catch the call today.

[2015-05-18 17:12] tresf commented on #24
This solution may be a bit cleaner...

[code]

[2015-05-18 17:13] akberenz commented on #24
I was about to suggest that second method. Though you can combine the if statements, since they both send an unsigned message to the socket if true.

[2015-05-18 17:15] tresf commented on #24
good call.

[2015-05-18 17:18] tresf commented on #24
Ok, that fixes those, what about `findPrinter(...);`, etc?

[2015-05-20 01:15] tresf opened #25 "deleted"
wrong tracker

[2015-05-20 01:16] tresf commented on #25
Wrong tracker.

[2015-05-20 01:16] #25 closed, assigned to nobody

[2015-05-20 19:26] tresf opened #26 "Disconnect after printer rename"
From a beta tester

[2015-05-21 13:12] tresf opened #27 "NSIS - Add firewall exception"
It looks like a 3rd party plugin allows this via http://nsis.sourceforge.net/NSIS_Simple_Firewall_Plugin.

The idea is to prevent users from seeing this dialog on first load:
![image](https://cloud.githubusercontent.com/assets/6345473/7749208/74311d22-ff99-11e4-867e-bac98bf9d4b6.png)

[2015-05-22 06:19] tresf commented on #24
@robertcasto @bberenz any help on this one?

[2015-05-22 14:13] akberenz commented on #24
Well, what needs done with those methods?
If you want them excluded from signing, then it would probably be best to create an array of method names that go straight through. And if the number of methods _to_ sign is less, then it might be better to make the array of those methods instead.
But given that `findPrinter` actually sets the printer being used, it might be better to leave it as needing s

[2015-05-22 14:23] tresf commented on #24
I'll repeat this line from the original post as I think it sums it up better...

...

If that is the case, shouldn't we show a warning for it with the unsigned version?  This is about consistency and efficiency.  I'm not partial to one approach versus the other.

[2015-05-25 00:17] tresf commented on #15
- Linux Firefox and Chrome support added via c52185c
- Apple Firefox support added via 033ad08
- `ws://` Fallback support added via 9ebe945 (per Brett)
- Apple uninstaller supported added via 286b2f9

Remaining items (Linux installer cleanup, will start new thread):
- Determine permanent location to install on Linux
- Check for `certutil` prior to install on Linux, or else Chrome certs won't work

[2015-05-25 00:17] #15 closed, assigned to nobody

[2015-05-25 00:18] tresf opened #28 "Linux Installer Cleanup"
The Linux installer is finally working with secure websockets.  This thread is to track a few enhancements:
- [x] Determine permanent location to install on Linux (done via b1968d7)
- [x] Check for `certutil` prior to install on Linux, or else Chrome certs won't work (done via b1968d7)
  - [x] Possibly add `yum`/`apt-get` commands for installing (partially done via b1968d7)
- [x] Check for `root`

[2015-05-25 17:17] tresf commented on #24
@robertcasto I know it's a holiday weekend, but if we can make a decision on this, it is the one thing I'm waiting on before releasing the next beta version.

[2015-05-26 00:53] robertcasto commented on #24
Hi Tres,

Sorry. I was under a car replacing an axle most of the day. I will look
into this first thing in the morning.

Robert

[2015-05-26 01:39] tresf commented on #24
The Finocchiaro's have a lot of elbow grease in that area. :)  Thanks for chiming in.

[2015-05-26 05:44] #27 closed, assigned to nobody

[2015-05-26 05:54] tresf commented on #27
I took the `netsh` approach as the NSIS approach added an additional DLL dependency and seemed to lack any recent maintenance.  The syntax I used is Vista or higher:

[code]

If we decide to backport this to XP, the syntax will be slightly different as it does not use the `advfirewall` switch.

[2015-05-26 19:43] tresf commented on #24
@robertcasto I can take a look at this tonight if needed, I just think your staff would be more familiar with this portion of the codebase.  Either way, it is something that I'd like to have sorted prior to our public beta.

I need to do some finalized testing to our portal for our existing subscribers and then we'll be sending out download links, which I hope to do in the coming days. :)

[2015-05-26 20:34] robertcasto commented on #24
Can we review this over the phone? We have a couple questions.

[2015-05-27 17:56] tresf opened #29 "CB: undefined()"
Reported by beta tester.  Needs investigation.

[code]

[2015-05-28 03:42] tresf commented on #29
This looks normal for syncronous functions.  No issues in testing.  Closing.

[2015-05-28 03:42] #29 closed, assigned to nobody

[2015-05-28 03:43] tresf commented on #23
D&B still hasn't emailed me with a valid DUNNS number.. waiting... :zzz:

**Edit:** found email address... Send email...

[2015-05-28 16:01] tresf commented on #23
Called Apple, spoke with Chris.  The LLC name needed the comma removed (despite it being valid on the DUNS request).

Apple is processing the request now.

**Edit:** Bought and paid, waiting on processing from Apple.

[2015-05-30 02:38] tresf commented on #10
**Edit:**  The new CRL is live at https://crl.qz.io, via https://github.com/qzind/qz-print/commit/94e7f401596894bce5815e84be33c7e1b7886e3b

---

A slight update on this, after some trial and error with the AWS command line interface, I've managed to get HTTPS working with the Amazon bucket and the AlphaSSL certificate via [Bryce Fisher-Fleig's tutorial](https://bryce.fisher-fleig.org/blog/setting-

[2015-06-01 04:41] tresf opened #30 "Applet: NoClassDefFoundError, pdfrenderer/jssc"
Running through some final testing and having a problem with the applet deployment when using PDF or Serial functionality.  It appears the library/JAR isn't being found by the applet.

Probably a resurfacing of #9 as the symptom is identical.  This time, we can reproduce.   Just run sample.html from `out\dist\applet\demo` and try either the PDF for Serial options.

[code]

Tagging @robertcasto @bb

[2015-06-01 06:03] tresf commented on #30
Ok, the `NoClassDefFoundError` is resolved per 6385179, but these libraries aren't signed, so we're getting a mixed content warning now. @robertcasto, for the applet to work properly, all Jars on the classpath must also be signed.

![image](https://cloud.githubusercontent.com/assets/6345473/7907051/44485096-0802-11e5-8abd-68d6760ed9e4.png)

[2015-06-01 12:22] robertcasto commented on #30
Got it. I'll make sure Brett gets it signed. Thanks!

On Mon, Jun 1, 2015 at 2:03 AM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-01 16:58] akberenz commented on #30
Should be taken care of via 07e91c49ea8dcff5d7b7606e00bda685de2f59ed

[2015-06-01 16:59] tresf opened #31 "Default Printer Not Found"
@robertcasto @bberenz I'm not sure what causes this, but want to open a placholder for it.  The bug submitter claims this does not occur with the applet version (assuming they are using 1.8 branch for the applet as we haven't released any 1.9 branch versions).

![unnamed](https://cloud.githubusercontent.com/assets/6345473/7918242/d95bc072-085d-11e5-92c2-95ede7ea3bc9.png)

[2015-06-01 17:01] tresf commented on #30
@bberenz does this also address the `tsaurl` signing method (trusted) ?

[2015-06-01 17:02] akberenz commented on #24
Gateway dialog should appear now for all resource access functions (8ae51b0a2107b8606140a88d222db86926c1b7b7). Alter the `privilegedMethods` list in the `PrintSocket` class if any methods have been missed or shouldn't be included.

[2015-06-01 17:04] robertcasto commented on #31
I'm guessing that there could be a character in the name that we are not
handling properly.

On Mon, Jun 1, 2015 at 12:59 PM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-01 17:06] akberenz commented on #30
.. it does now

[2015-06-01 17:07] tresf commented on #30
:+1:

[2015-06-01 17:07] tresf commented on #30
Thanks.  Closing.  I'll reopen if I have any issues.

[2015-06-01 17:07] #30 closed, assigned to nobody

[2015-06-01 18:59] tresf commented on #31
@robertcasto I'm pretty sure this is a bug.  I just tried the button all by itself and it won't work with a standard printer name on my PC either.  Must have been a button I missed in early testing.

[2015-06-02 00:18] tresf commented on #31
@robertcasto your suspicions are correct... It appears the windows UNC path may be part of the cause, most likely the double blackslash `\\`

[code]

Edit, here's the log:

[code]

[2015-06-02 00:38] tresf commented on #31
Ok... I'm confused... I'm looking at `PrintSocket.java` around line 324 and I'm seeing this... is this a typo?  Wouldn't this evaluate twice?  The latter seems to try to do some escaping but I'm a bit confused about the approach.

Also, I would expect all method calls which could suffer this bug be escaped.  Could the serial functionality suffer this same bug?

[code]

**Edit:** Committed the patc

[2015-06-02 00:49] #31 closed, assigned to nobody

[2015-06-02 02:55] robertcasto commented on #31
Did you find a solution and that is why this is closed?

On Mon, Jun 1, 2015 at 8:49 PM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-02 04:49] tresf commented on #31
Yes, but still interested in Brett's answers.  Commit f085e04 closes this.  I just mirrored his technique, but I'm a bit confused as to the approach (not the backslash part, but rather the multiple `findPrinter.equals()` statements).

[2015-06-02 04:49] tresf commented on #31
Commit f085e04 closes this.  I just mirrored his technique, but I'm a bit confused as to the approach.

[2015-06-02 04:51] tresf commented on #31
Clarification: Not the backslash part, but rather the multiple findPrinter.equals() statements. :+1:

[2015-06-02 12:56] tresf commented on #24
Thanks, this is working well.  I'll reopen if we have any issues.

[2015-06-02 12:56] #24 closed, assigned to nobody

[2015-06-02 13:29] akberenz commented on #31
The two if statements each send a different method. When `findPrinter` is called we set the current printer and send the result of the `getPrinter` method. When either `findPrinter` or `findPrinters` is called, we now have a list of available printers (but might not have set a printer), so we send the result of the `getPrinters` method.

[2015-06-02 13:33] tresf commented on #31
Thanks.  What about the escaping question... can other functions suffer this same bug?

[2015-06-02 13:34] tresf commented on #31
What about the escaping question... can other functions suffer this same bug?

[2015-06-02 13:56] akberenz commented on #31
It's possible, in which case it'll probably be best to just catch all strings going through the `sendNewMethod` call and escape them.

[2015-06-02 14:40] tresf commented on #31
Thanks.  Should I open a new bug report to keep track of this or do you expect to tackle that right away?

[2015-06-02 14:41] akberenz commented on #31
I can take care of it now, should be quick.

[2015-06-02 14:42] tresf commented on #31
Great, thanks.

[2015-06-02 15:26] akberenz commented on #31
da7215a4c5830e5d97d672e49c24e215b81ae5f6

[2015-06-02 17:47] tresf commented on #31
:+1:

[2015-06-04 13:51] tresf opened #32 "Autostart by default"
This bug has been migrated here:
https://github.com/qzind/tray/issues/4

---

A placeholder to make QZ Tray auto-start by default, configurable at install time.
- [ ] Windows
  - [ ] Determine permanent home for autostart (registry, etc)
  - [ ] Add option to NSIS
  - [ ] Provide mechanism for disabling via GUI
- [ ] Linux
  - [ ] Determine permanent home for autostart
  - [ ] Add option to `makes

[2015-06-04 15:31] tresf opened #33 "printToHost() bug"
After printToHost is used, the applet won't print raw to anything else.

Fixed via d7259bb.

This fix is staged for `QZ Tray 1.9.1`.

**Edit:** Related https://github.com/qzind/qz-print/commit/793c61ce98c085c439b16fa26d59c9a5f70554cf

[2015-06-05 13:46] #33 closed, assigned to nobody

[2015-06-06 05:09] tresf opened #34 "QZ-Print fallback not working properly"
@bberenz @robertcasto,

I've setup https://demo.qz.io but the applet fall-back logic seems to have a problem.

The error, which is expected is `Websocket connection failed`, however it should have a way to catch this and call `deployQZApplet`.

`qzSocketError` and `qzNoConnection` don't seem to be getting called either.

![screen shot 2015-06-06 at 1 07 02 am](https://cloud.githubusercontent.com/a

[2015-06-06 17:25] tresf commented on #34
I'd like to add that this behaves slightly different between HTTP and HTTPS.

[2015-06-06 17:30] robertcasto commented on #34
In what way?

On Sat, Jun 6, 2015 at 1:25 PM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-06 17:35] tresf commented on #34
The insecure fall-back isn't allowed on HTTPS.

[2015-06-06 17:55] tresf commented on #34
The `ws://` insecure fall-back isn't allowed on HTTPS.

Here is a screenshot of it:

![image](https://cloud.githubusercontent.com/assets/6345473/8020776/a639771c-0c53-11e5-8700-92ac607a0bf0.png)

[2015-06-06 22:17] #23 closed, assigned to nobody

[2015-06-06 22:21] tresf opened #35 "Open File Location not working on Apple"
The About dialog button to open the QZ Tray working directory "Open File Location" doesn't work.

Ideally, this would open the Finder application to the `/Applications/QZ Tray/` directory.  This button is offered as a convenience to quickly get to the `demo` folder.

Steps to reproduce:
1. Install QZ Tray on a Mac (OS 10.7 or higher)
2. Once the icon goes from Red/Yellow to Green, right click, adv

[2015-06-08 15:12] tresf opened #36 "Remove or refactor plugin directories"
@robertcasto @bberenz do we still need the source code for pdf-renderer or jssc as part of our project source code?

Can we easily refactor the code to just be a single `qz-print` directory?

[2015-06-08 15:15] akberenz commented on #36
We should just be using the compiled jars now, so those directories can be removed.

[2015-06-08 15:16] tresf commented on #36
Ok, great.  I'm not sure how much of the idea project will break when we bump qz-print up to its parent tho.  Also, the nested readme.txt will have to go away. Is this something you can do quickly?

-Tres

[2015-06-08 16:12] akberenz commented on #36
Yes, 41cf5ec24cd8843a2d6279dbf3c7895cf2ef6f94
Everything should be working fine, but let me know if something broke.

[2015-06-08 16:48] tresf commented on #36
Thanks!  I'll do some tests and see how things are working.

-Tres

[2015-06-08 17:20] tresf commented on #36
Seems to be good.  Had a few lines to cleanup per 448ee03 and now we're good.  Thanks!!

[2015-06-08 17:20] #36 closed, assigned to nobody

[2015-06-08 21:51] tresf commented on #36
One more patch https://github.com/qzind/qz.io/commit/29df8a38e8f2151ebe4d32099d268f11bc1ffd2d.

-Tres

[2015-06-09 04:54] tresf opened #37 "OSX 10.8 Mountain Lion / JRE6 Problem"
OSX 10.8 "Mountain Lion" prompts to install Java 6 when installing QZ Tray.  When the user clicks "Yes", it prevents QZ Tray from ever running as upgrading to Java 7 does not fix the issue.

One temporary fix seems to be installing Oracle JDK 8, which seems to update the java path properly so that `java -version` yields Java 8, not Java 6.

[2015-06-09 05:09] tresf commented on #37
One temporary fix seems to be installing Oracle JDK 8, which seems to update the `java` path properly so that `java --version` yields Java 8, not Java 6.

[2015-06-09 05:35] tresf commented on #36
And one more.... :wink:  qzind/qz.io@fc0bc60

[2015-06-09 15:18] tresf commented on #34
@robertcasto @bberenz do you have the capacity to look into this?

[2015-06-09 16:05] robertcasto commented on #34
Yes, but not today. We will have to look at it tomorrow. I have today
completely booked up.

On Tue, Jun 9, 2015 at 11:19 AM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-09 19:59] tresf commented on #37
Per d0e65f4, we've added the Apple recommended method for checking minimum Java version via: `/usr/libexec/java_home -v 1.7+`.  This should prevent the auto-install of JRE6 during install time and also allow the software to be launched with Java 7 in a mixed environment (such as when multiple JVMs are installed).  Testing needed on a fresh Mac OS Install.

[2015-06-10 04:36] tresf opened #38 "WARNING: Error executing certutil"
On Linux when starting QZ Tray you may receive the following error:

[code]

The exact cause is unknown, but a valid workaround seems to be to delete the certificate manually via:

[code]

Run this above command over and over until the following message appears:

[code]

Then try launching QZ Tray again.

[2015-06-10 06:06] tresf commented on #37
Should be fixed via 1b4074b.

This fix is staged for `QZ Tray 1.9.1`.

[2015-06-10 06:06] #37 closed, assigned to nobody

[2015-06-10 17:18] tresf opened #39 "IE11 SecurityError, Websocket connection failed"
**Update:** A workaround is available, please see https://github.com/qzind/tray/issues/6

---

IE11 blocks websocket connections to localhost by default.

To unblock, click the **Gear, Internet Options, Security, Local Intranet, Sites**, Uncheck the first checkbox.

![image](https://cloud.githubusercontent.com/assets/6345473/8088985/1db5781e-0f73-11e5-9a6f-b76b728f0aeb.png)

**Edit:**  Domain netw

[2015-06-10 17:21] tresf commented on #34
@robertcasto just a friendly bump. :)

[2015-06-10 17:53] robertcasto commented on #34
We got hit with a big Amazon problem yesterday. So I need to put you off
until tomorrow. This is affecting us in a really bad way.

On Wed, Jun 10, 2015 at 1:21 PM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-11 03:48] tresf commented on #39
Closed via 28ec770.  Note, this requires a browser restart after the software has run for the first time (it runs automatically on install, so restarting after install is sufficient).

This fix is staged for `QZ Tray 1.9.1`.

[2015-06-11 03:48] #39 closed, assigned to nobody

[2015-06-11 09:34] rostislav-rocket opened #40 "The installation of 'QZ Tray' failed on OS X"
Hi, I couldn't install 'QZ Tray'.

The version of client: 1.1.9-1
The version of OS X: 10.10.3

Please see screens.
![screen shot 2015-06-11 at 11 26 05](https://cloud.githubusercontent.com/assets/9251275/8104031/c930ddb8-102d-11e5-9fdc-0a4b56e847d1.png)
![screen shot 2015-06-11 at 11 29 32](https://cloud.githubusercontent.com/assets/9251275/8104032/cb2d1de8-102d-11e5-869b-8fec913aac79.png)

[2015-06-11 09:35] alfonsodev commented on #40
:+1:  Same error here

[2015-06-11 10:57] rostislav-rocket commented on #40
I apologise, the problem was I had no Java installed https://java.com/en/download/
However, you could add more informative error message to the installer

PS. 'Getting Started' in https://github.com/qzind/qz-print/blob/1.9/README.md currently leads to 404 - https://github.com/qzind/qz-print/blob/1.9/Getting-Started

[2015-06-11 10:57] #40 closed, assigned to nobody

[2015-06-11 13:05] tresf commented on #40
Thanks for the bug report.  This is related to #37 (fixed) which was prompting to install the **wrong** Java version.

I'm still trying to figure out how to display a message via the apple [`preinstall`](https://github.com/qzind/qz-print/blob/1.9/ant/apple/apple-preinstall.sh.in) script.  If you or anyone else can find a place to add it, we'd be much obliged.

[2015-06-11 18:26] tresf opened #41 "Asynchronous Requests Bug"
**Edit:** This should be fixed via 1b8c7fe

@robertcasto @bberenz

We're experiencing issues with only the premium customers where the signed requests are causing some intermittent issues.

I suspect that our asynchronous use of `signRequest()` is the culprit.

This is a pretty major bug as it breaks printing for those who've subscribed.

I think we may be able to solve this by using `async: false

[2015-06-11 20:55] akberenz commented on #41
Since signing is not a long process, it might be best have users set the `async` variable to false. If users still have issues with signing then we can look at a queue system.

[2015-06-11 21:10] tresf commented on #41
Thanks, will address tonight.

**Edit:** Our bug submitter client tested this change and it fixed the race condition 100% of the time.  I am going to change this in the sample.html and contacting all premium customers that have been issued a certificate.

This fix is staged for `QZ Tray 1.9.1`.

[2015-06-11 21:55] #41 closed, assigned to nobody

[2015-06-12 02:46] tresf opened #42 "Enhanced ESCP Image Support"
This bug report has been migrated to https://github.com/qzind/tray/issues/10

---

Better image support for the following ESCP printers:
- Epson TMU220
- Star (model unknown, see below)

**Epson TMU220**

We use appendEpsonSlices via [`ImageWrapper.java#L467`](https://github.com/qzindustries/qz-print/blob/1.8/qz-print/src/qz/ImageWrapper.java#L467) but pass in an `m` value of `33`, but the TMU220

[2015-06-12 02:48] tresf opened #43 "Printers with \E in their name break findPrinter()"
This bug is for qz-print versions 1.9.x and older (1.8.0 included) and breaks printer searching for search parameters containing `backslash E` _(`\E` or JavaScript `"\\E"` also `"\\\\E"`)_.

---

**Example**

If a printer shared on a Windows or Samba network with "E" as part of the host name, for example:

[code]

And you perform a search like this:

[code]

You will receive the following exceptio

[2015-06-12 02:48] tresf opened #44 "Provide paper size hints for PostScript printing"
[code]

Now, qz-print defaults to the document size specified by the printer.  This is not ideal because many customers want to print to custom paper sizes without having client reconfigure each printer's default paper size via the OS.

[2015-06-12 13:07] tresf commented on #34
@robertcasto any chance this can make it today?  We're about ready for a 1.9.1 release.

[2015-06-12 13:37] robertcasto commented on #34
I'll let you know. Got a big project to finish today so lots of things
coming together at one time unfortunately.

Robert

On Fri, Jun 12, 2015 at 9:07 AM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-12 13:39] robertcasto commented on #34
Just spoke with Brett and he thinks it will be an easy thing to take care
of this morning. You should see something later today.

On Fri, Jun 12, 2015 at 9:37 AM, Robert Casto casto.robert@gmail.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-12 14:35] akberenz commented on #34
Should be addressed in 021411ddac1ab579aa90a21859435ad21adf65bc
I've added a call to qzNoConnection when the javascript fails to create a websocket.
And I've added code to attempt deploy of the applet inside of the sample's qzNoConnection function, just be sure to include the applet jars on the demo page.

[2015-06-12 16:37] tresf opened #45 "setPrinter(index) not syncronous"
@robertcasto @bberenz we seem to have another bug where `qz.setPrinter(index)` followed by `qz.getPrinter();` results in the printer being undefined.

The old behavior was to use the `qz.setPrinter(index)` as a synchronous replacement to the `qz.findPrinter()` call.

-Tres

[2015-06-12 17:00] tresf opened #46 "Firefox intermittently works with HTTPS"
HTTPS pages require a special certificate installation into Firefox.  Currently QZ Tray installs or deletes the certificate at launch time, depending on the current install state of QZ Tray (uninstall forces certificate removal).

There seems to be a race condition on the loading of Firefox which causes the browser to start before the certificate has completed being uninstalled and reinstalled.  T

[2015-06-12 21:30] akberenz commented on #45
It is not possible to make that call synchronous with `getPrinter`. While the call currently isn't being handled by the socket, setting it up to correctly change the result of `getPrinter` will not return fast enough for a call on the next line to return properly.

[2015-06-13 14:52] daveland2 commented on #45
My question is what is the proper protocol for making getPrinter return a meaningful value after making a call to setPrinter(i)?

My first attempt to work with this assumed a synchronous behavior:

[code]

My second attempt tried an asynchronous approach:

[code]

Both approaches returned the `null` value for `getPrinter`.

(I was just guessing how to do the asynchronous approach, since I could no

[2015-06-13 20:02] tresf commented on #45
@daveland2, I'm responding in many areas for consistency... but I wanted to update this bug report.

For now, I'd recommend you change your code to assume that once`setPrinter()` has been called on a valid index, the printer is set.  This means you will need to stop relying on the immediate readiness of `getPrinter()`.  The reason for this is that our new websockets approach is intentionally async

[2015-06-13 20:43] daveland2 commented on #45
Tres:

Thanks for your response.

I appreciate all the attention you have given to this issue.

Reworking my approach for reliably setting the printer to work with is not
a deal-breaker, so I will make the necessary adjustments in my code in the
light of what we have learned from this issue.

Dave

On Sat, Jun 13, 2015 at 3:02 PM, Tres Finocchiaro notifications@github.com
wrote:

[2015-06-15 13:13] tresf commented on #34
Closed via 021411d

[2015-06-15 13:17] tresf commented on #45
Closing as `wontfix`.  Thanks for the report Dave.

[2015-06-15 13:17] #45 closed, assigned to nobody

[2015-06-16 05:18] #46 closed, assigned to nobody

[2015-06-16 05:43] tresf commented on #46
Tested on Windows, MacOS and Linux with 100% success.

The new method uses a timestamp in the Firefox preferences area (`about:config`) which stores the timestamp of the last install.  This prevents redundant and unecessary re-installation and re-uninstalls of the certificate each time Firefox loads.

![image](https://cloud.githubusercontent.com/assets/6345473/8176437/fbecf176-13c8-11e5-8545-b5f80

[2015-06-17 13:37] ragoley opened #47 "Print job mangled in qz.print() but not in qz.printToFile()"
I have worked with the applet printing a good bit and have run into a wall with actual device printing.  I use the append64() function to load a previously base64 encoded print job for transfer/printing thru the applet.  If I send the print job to the print using qz.print(), it sends a mangled print job to the printer.  It sends unreadable binary gibberish.  If I use the qz.printToFile() function

[2015-06-17 14:09] tresf commented on #47
@Ragoley,

A first step will be to post a snippet of your code and the hardware which you experience this issue on so that the problem can be reproduced.

Character encoding (which is what I suspect the problem to be) can be modified or assumed in a few places, so a working reproducible example is needed to troubleshoot this any further.

[2015-06-20 13:52] tresf commented on #34
@bberenz this seems to fix fallback deployment on https://, but when I'm running the demo from the desktop (i.e. file:///) it doesn't seem to fallback properly.  Can we take a second look at the fallback logic and make sure it works for all common scenarios?

[2015-06-20 14:17] robertcasto commented on #34
Hi Tres,

Brett and I are heading to Seattle Sunday and will be there for the week.
We will try to look at things as best we can, but our availability is going
to be pretty limited.

Robert

On Sat, Jun 20, 2015 at 9:52 AM, Tres Finocchiaro notifications@github.com
wrote:

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-

[2015-06-20 15:22] tresf commented on #34
Thanks for the FYI

[2015-06-21 16:14] tasarsu opened #48 "About free version"
First of all thank you for this great plugin.

I tried your applet for seamless prints from browser but saw warning messages on every single print job. Is it possible to remove warnings in free version?

[2015-06-21 17:26] klabarge commented on #48
Unfortunately it is not possible to remove the warnings in the free version.  For security reasons, all print requests must be digitally signed. If they are not, a warning will appear on each print.  To sign a request, you must obtain an Intermediate Signing Certificate from QZ Industries, LLC, which is included  in the premium version of QZ Print.

[2015-06-21 20:44] tasarsu commented on #48
But it is not suitable for production use why do you call it free. It can only be ok for testing issues before buying your commercial product.

[2015-06-21 21:01] tresf commented on #48
@tasarsu

It is not **yet** possible to suppress the warnings in the free version, we may offer this at a later time.  Our priority is to service and support those already subscribed with a version capable of surviving the removal of NPAPI from Chrome which will happen in September.

Free users can still use the legacy Java plugin which still allows the suppression of warning dialogs through manua

[2015-06-21 21:01] #48 closed, assigned to nobody

[2015-06-21 21:03] tresf commented on #48
And the link for reference:
https://github.com/qzind/qz-print/wiki/Legacy-Import-Certificate

[2015-06-22 12:06] tresf opened #49 "async:false is deprecated on main thread"
Since `signRequest()` requires `async:false`, we need to use it to prevent race conditions, however Chrome displays a deprecation warning.

@bberenz do we have the ability to workaround this to prevent breaking down the road or is this a ticking time bomb?

[2015-06-26 05:27] tresf opened #50 "J# returns wrong signature"
When using `UTF8Encoding` the signature won't validate.  This seems to be fixed by switching the code to use `ASCIIEncoding`.  If this fixes the issue, it will need to be corrected in our C# sample.

[code]

[2015-06-26 14:41] tresf commented on #49
So I believe the `async:false` warning to be generated by jQuery, not the web browser.  This is slightly better, since we can force a certain version of jQuery for now, but that slows down scalability.

What techniques can we use to survive the removal of `async:false` ?

[2015-06-26 14:44] tresf commented on #47
Note, I've also had this issue when encoding and Byte Order Mark (BOM) on the source file itself was set incorrectly.

If you cannot provide a working example, we'll have to close this out as invalid.

[2015-06-26 16:11] ragoley commented on #47
You can close this issue.  After getting the correct output result from the print to file function, I dug deeper into the local config.  Somehow, CUPS was corrupting the print job when passing from my local Ubuntu 14.04 RAW queue to a print server's RAW queue running Ubuntu 12.04.  I created a direct local queue on the 14.04 workstation and the issue went away.

[2015-06-26 17:04] tresf commented on #47
:+1:

[2015-06-26 17:04] #47 closed, assigned to nobody

[2015-06-26 20:39] tresf opened #51 "Fedora Support"
**QZ Tray Fedora Tasks**
-  [x]  Add proper Firefox detection / cert installation
-  [ ]  ~~Draw tray icon in correct area of OS (possible upstream bug per [redhat#1014448](https://bugzilla.redhat.com/show_bug.cgi?id=1014448), [gnome#648773](https://bugzilla.gnome.org/show_bug.cgi?id=648773))~~ upstream bug, won't fix.
-  [x]  Allow interaction with System Tray icon on Gnome3 / Gnome Shell
-  [x]

[2015-06-27 14:34] klabarge opened #52 "QZ Print Free Version - sample does not work"
The QZ Print 1.9.2 download from https://qz.io/download/# provides the files for the QZ Tray download.    When you try to open the sample.html page you get the message below as it is looking for the QZ Tray. There are no certificates to provide to Java to get it working properly.

![image](https://cloud.githubusercontent.com/assets/12505463/8392402/b48ebbf0-1cb7-11e5-9711-4056274cf1cf.png)

[2015-06-28 14:41] tresf opened #53 "Image rotation support"
During the code freeze, 1.8 received image rotation support which was never synced into 1.9 branch.  This is a placeholder for that.

https://github.com/qzindustries/qz-print/commit/af111a8367b75dc2c2a92fdf07ae01dc2c95f1b2

[2015-06-29 03:00] tresf commented on #52
I just checked and it **does** properly download the QZ Print Applet files, so this part of the bug report is incorrect.

Sorry, this is a duplicate of  https://github.com/qzind/qz-print/issues/34#issuecomment-113770293.  For now, please edit `sample.html` and replace `deployQZ();` with `deployQZApplet();` so that it gets called each time the page is loaded.  This will be fixed in a future version

[2015-06-29 14:13] akberenz commented on #49
Reading through the [jquery ticket](http://bugs.jquery.com/ticket/11013) that lead to deprecation on `async: false`,  I do not think we have to worry.
The deprecation only applies to a specific use case of ajax calls (use with deferred/promises), and remains valid with the use of callback functions (ie `success: function() {...}`).
There is also [mention](http://bugs.jquery.com/ticket/11013#commen

[2015-06-29 14:30] akberenz commented on #34
I am not able to replicate your issue. I get a successful connection to qz when running the sample from file:///
Are you getting any exceptions in the browser or java logs?

[2015-06-29 14:39] tresf commented on #34
By fallback, I mean fallback to the Java Applet.

[2015-06-29 15:16] tresf commented on #49
Could we shim in a `setTimout 0` in there somewhere to take it off of the main thread?

[2015-06-29 16:18] akberenz commented on #34
In that case, it does not appear as though the demo included with the install has the applet files.
I've changed the build script so they should be included in the socket directory as well now for fallback purposes (8d1b8bdbcfe592838090baa10866b783450766d6).

[2015-06-29 17:31] tresf commented on #34
This is done intentionally.  It's not hard to copy them there manually and you have a premium subscription for testing the trusted signed version.  We won't be including this in our QZ Tray installer, please revert your commit.

[2015-06-29 18:14] akberenz commented on #34
Apologies for that. Reverted at d62fb55320081ed2431a14f0f1a625a2eaa09c63.
But if those files missing are the cause of your issues with fallback on `file:///` then I believe we can close this issue.

[2015-06-29 19:48] tresf commented on #34
No, they are not the cause.  Fallback doesn't work on `file:///` (probably not on HTTP either).

[2015-06-29 19:57] akberenz commented on #34
Fallback to the applet from `file:///` works for me. Can you post your environment & logs?

[2015-06-29 19:59] akberenz commented on #49
We can, but I don't know if that will reintroduce the race condition in the signing, since it will make the `signRequest()` function return immediately again.

[2015-06-29 20:01] tresf commented on #49
Yeah, good point...

I assume we'll have room to improve the API in 2.0 and we can discuss this.  So from what I read, jQuery requires `async: false` for its own API, right?

[2015-06-29 20:02] tresf commented on #34
Thanks for testing.  I'll attempt to reproduce again tonight.

[2015-06-29 20:10] akberenz commented on #49
Yes, if you are expecting to get a javascript promise back, then it has to be an asynchronous call. There would have been too much overhead to have allowed them to make synchronous calls.

[2015-06-30 03:10] tresf commented on #34
Ok, I was able to reproduce the fallback failure on both `file:///` as well as `https://` on Safari.  Here are the results:

**Environment:** OS:  OSX 10.10
**Browser:** Safari 8.06
**Logs:** (The second error only displays on `file:///` urls)

[code]

[2015-06-30 03:28] tresf commented on #34
FYI, all other browsers seem to be just fine.  It appears the fallback is working on everything except for Safari. (Firefox on Windows and Mac are fine.  Chrome on Windows and Mac are fine, IE is fine).

I updated the above post with the proper log including the debug info.  Probably worth noting, Safari doesn't even appear to be falling back to 8282, 8383, etc, so it's likely something fundamenta

[2015-06-30 03:55] tresf commented on #34
@bberenz it looks like `websocket.onclose` is getting fired for Mac when the socket connection fails on Safari.

I tried this and it successfully calls `deployQZApplet`, but the `document.write` logic seems to be doing nothing on Apple now.  The dom is getting updated with the proper `<del>` tags, but the applet won't load.

[code]

[2015-06-30 04:28] tresf commented on #50
Closed via https://github.com/qzind/qz-print/commit/700dbf7483a6e86ef72e5dfc833d8206a5896f6a, https://github.com/qzind/qz-print/commit/379e9eab5d45a6a03e4695dc1c5a0cdbd8eee634

[2015-06-30 04:28] #50 closed, assigned to nobody

[2015-06-30 14:39] robertcasto commented on #34
@tres Could there be a permission problem? I know most browsers are getting
away from Applets and have implemented security or turned them off. Perhaps
that is what is happening here?

On Mon, Jun 29, 2015 at 11:55 PM, Tres Finocchiaro <notifications@github.com

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c:

[2015-06-30 15:00] tresf commented on #34
@robertcasto valid question... I've already allowed Java via https://qz.io/rawosx/#user-content-safari-settings and confirmed it works on Java's detection page.

This bug is two fold... the first part -- improper fallback -- is because WebSockets throws a different function on Safari when the socket fails per the `websocket.onclose` attempt above.

The second part I believe to be Safari ignoring t

[2015-06-30 15:14] robertcasto commented on #34
So are you suggesting we do the horrendous document.write option?

On Tue, Jun 30, 2015 at 11:00 AM, Tres Finocchiaro <notifications@github.com

##

_[image: SellersToolbox Website] http://www.sellerstoolbox.com_  Robert
Casto
_(owner)_
Tools for Amazon Sellers
p: 1-513-847-4942
c: 1-513-886-1550
e: casto.robert@gmail.com

[2015-06-30 15:36] tresf commented on #34
No because we try QZ Tray first, so it's too late.  Brett's approach is the right approach, but I still feel we need to exhaust our options on both issues.

[2015-06-30 18:13] tresf opened #54 "Segmentation fault building NSIS on Fedora"
When attempting to build a windows installer on Fedora 22

[code]

The nsis process ends in segfault

[code]

This seems to be an upstream RedHat bug that was never patched per https://bugzilla.redhat.com/show_bug.cgi?id=948074#c20.

[code]

I'm closing this, but leaving it out here as a knowledge-base entry.  For now, please build on a non-RedHat (non-Fedora) system.  Our current installers are b

[2015-06-30 18:13] #54 closed, assigned to nobody

[2015-07-01 05:56] tresf opened #55 "NSIS shortcut creation fails when run by non-admin user"
**Update:** This issue has been resolved in 1.9.3.  Download it here:  https://qz.io/download

The installer appears to succeed, but the page won't load after install.

**Edit:** This seems to be a problem when the installer is launched by a non-admin user.  This should be fairly easy to reproduce.

The software is installed properly, but the shortcut for launching it isn't accessible and it won't

[2015-07-01 15:48] tresf commented on #55
This issue seems to be caused by a non-administrator user starting the installer.  Steps to reproduce:

Steps to reproduce:
1. Create non-administrator user
2. Sign in as non-administrator user
3. Download QZ Tray
4. Run QZ Tray installer
5. When prompted, enter administrator password
6. Install fails

[2015-07-01 16:18] klabarge commented on #55
The same issue happens on EN Windows 7.

![image](https://cloud.githubusercontent.com/assets/12505463/8459448/4c6bd9f4-1feb-11e5-967b-fcf373a4fd36.png)

[2015-07-01 17:39] tresf commented on #55
@klabarge can you test this patched installer and see if it fixes the issue:

https://github.com/qzind/qz-print/releases/download/v1.9.3/qz-tray-1.9.3.exe

[2015-07-01 17:44] tresf commented on #55
Closed via: https://github.com/qzind/qz-print/commit/1000203caa2ee3e1ee77f92620c46fb6e2b9664c

[2015-07-01 17:44] #55 closed, assigned to nobody

[2015-07-02 02:35] Vzor- commented on #51
Please add
1. [ ] Software fails to auto-load due to permission issues with `/opt/qz-tray`

[2015-07-02 02:59] tresf commented on #51
@Vzor-, added.

[2015-07-02 03:06] tresf opened #57 "Linux Mint Support"
@klabarge tested the installer and basic functionality and all passed.

The only issues are cosmetic issue with the icon, similar to what we see on Ubuntu and Fedora.

System Tray has white background:
![image](https://cloud.githubusercontent.com/assets/6345473/8469272/c75d3cca-2045-11e5-9f4d-b1dc0cf24fde.png)

Desktop icon isn't correct:
![image](https://cloud.githubusercontent.com/assets/6345473

[2015-07-10 01:01] klabarge opened #58 "Print Warnings Display Improperly"
On all browsers, the warning messages display improperly on page load up.  This is a random event and does not happen regularly.

![image](https://cloud.githubusercontent.com/assets/12505463/8610362/0cc95714-267f-11e5-8860-273b5592545f.png)

[2015-07-10 02:11] tresf commented on #58
I believe this to be related to this article:  http://www.widecodes.com/vyzNmzqXeg/joptionpane-displays-a-blank-window.html

Basically, I believe the JOptionPane is trying to draw the dialog on the wrong thread (the main thread which starts the WebSocket listener).

To fix this, we should be able to use SwingUtilities to move the code to the Event Dispatch Thread (EDT) .  @Vzor- has partially disc

[2015-07-10 05:23] tresf commented on #51
The tray icon issue appears to be from upstream.  Documented here [redhat#1014448](https://bugzilla.redhat.com/show_bug.cgi?id=1014448), [gnome#648773](https://bugzilla.gnome.org/show_bug.cgi?id=648773) quoted below:

---

[2015-07-13 15:26] tresf opened #60 "Trayless Support"
When trying to start QZ Tray on a trayless machine (such as Ubuntu running in kiosk mode)

[code]

[2015-07-15 15:08] tresf commented on #60
Closed via #61

@klabarge, can you test this on your kiosk setup and post the testing results here?

https://github.com/tresf/qz-print/releases/download/v1.9.3-patch/qz-tray-1.9.3-patch.run

-Tres

[2015-07-15 15:08] #60 closed, assigned to nobody

[2015-07-15 15:08] tresf commented on #60
Sorry, forgot the link:

https://github.com/tresf/qz-print/releases/download/v1.9.3-patch/qz-tray-1.9.3-patch.run

[2015-07-15 15:32] klabarge commented on #60
I installed the patch and confirmed that it loads properly.
![kiosk3](https://cloud.githubusercontent.com/assets/12505463/8702285/f5294eba-2ae4-11e5-97d1-db6855e467b5.PNG)

Here is the new new log output:

[code]

[2015-07-15 16:17] tresf commented on #60
:+1:

[2015-07-16 11:21] bkrajendra opened #63 "Compile Error on windows 8.1"
I'm getting compile error in windows 8.1
with latest qz-print v 1.9

[code]

[2015-07-16 13:29] tresf commented on #63
Hi @bkrajendra.

Some more details are needed to know for sure, but this is a known JavaFX blunder by Oracle introduced with JDK 7.  Here's a good article about it:

http://stackoverflow.com/questions/13953920/not-able-to-resolve-jsobject-in-a-java-applet-project

What we've done is modify the build.xml to accommodate for the jar search order.

This search order is done here [`build.xml#L37`](http

[2015-07-17 02:18] tresf commented on #58
Closed via #62.  This fix will be available starting with the 1.9.4 release.

[2015-07-24 10:55] panoop opened #64 "QZTray 1.9.3 Installation stops abruptly - Windows 7"
When i am trying to install QZTray 1.9.3 from https://qz.io/download/ on a Windows 7 64 bit OS, installation stops abruptly with the JavaHome not found error. Java 1.7.79  is installed on my machine and JAVA_HOME variable is available in PATH.

Anyone please help me here?
![qztray_install_error](https://cloud.githubusercontent.com/assets/13482791/8873055/7b2879a4-3220-11e5-86bd-78cfde7bf729.PNG)

[2015-07-24 12:38] tresf commented on #64
@panoop thanks for the bug report.

I do believe that you have installed Java on your machine, but the Java 7 installer has some symptoms which are not obvious when the installation has become corrupt, this may be one of them.

Can you please re-download the offline installer for Java 7 u79 and reinstall?  The installer should say that Java is already installed and it may require a reboot for prop

[2015-07-27 06:23] panoop commented on #64
@tresf Thanks for the quick reply.

Reinstalled and upgraded Java to 1.7.80. But still i am getting the same error. Both registry values are available in machine.  As shown below installer first will complain "Java required for installation. Download now?" and when i click No option,
![error2](https://cloud.githubusercontent.com/assets/13482791/8899763/159def64-3456-11e5-81ab-43ba7f9e94bb.PNG)
![r

[2015-07-28 04:19] klabarge opened #65 "Issues with desktop icon creation on Mac"
Tested on QZ Tray version 1.9.3 on Mac OSX Yosemite.

Clicking the tray icon and going to **Advanced > Open file location** in Mac does not work to open the file location of QZ Tray.  When clicked, it appears that nothing happens.

Additionally, creating a desktop icon from the tray icon does not provide the proper image.

All other functions seem to work normally.

![image](https://cloud.githubus

[2015-07-28 15:19] bkrajendra commented on #63
@tresf thanks for the detailed reply..
But its not helping me.. as Ive tried many things but still getting same error.
I understand the problem plugin.jar. but dont know how to fix it as its already applied.
let me give u details about what I'm doing.

1) Ive cloned latest repo with git.
2) I'm using ant build command line to build the project (Not using any IDE)
3) Ive tried many solution given f

[2015-07-28 15:21] bkrajendra commented on #63
Sorry accidently closed issue.. now reopened it.

[2015-07-29 03:32] klabarge commented on #63
@bkrajendra

I just verified that our compiling guide works on Windows 8.1.   Have you made sure that you installed all of the dependencies properly?

I followed the links in [this tutorial](https://github.com/qzind/qz-print/wiki/Install-Dependencies) and installed the latest version of each, taking the defaults (except enabling the Windows command prompt for Git).

I used this convention when set

[2015-07-29 19:38] tresf commented on #65
Terrific, thanks.  These are two separate issues, so we should track them separately.

The "Open File Location" is a duplicate of #35, which I'm hoping @Vzor- can help with.  Remind me of this and I'll shoot this over to him once he's done w/ the Fedora bugs. :+1:

The icon will be a bit trickier... I'm not sure if the URL format we use for Windows is supported on Apple, or if we'll have to use Ap

[2015-07-29 20:28] tresf commented on #64
@panoop thanks for the detailed screenshots.

This is a good question, I'm not sure but I'd like to reproduce what you are seeing.

@klabarge we've never tried installing Java in a non-default location.  Can we verify that this configuration works?  I'd prefer if we use the exact same Java and OS version as well.  We have two clients that this is affecting, so there's got to be a commonality betwe

[2015-07-29 22:01] bd0 commented on #64
@tresf  I was having the same issue.  It seems like there is a problem with the fallback for 64-bit registry keys.  Based on the behavior I was seeing I'm guessing it is only looking for keys under Wow6432Node, and never checking the related 32-bit keys.  After playing around with it for a while I ended up adding the values below to the registry.  After that the QZ Tray installer proceeded without

[2015-07-30 02:30] #64 closed, assigned to nobody

[2015-07-30 02:34] tresf commented on #64
@bd0, thanks for the hint.

Turns out our installer can [only read the 32-bit registry](http://stackoverflow.com/questions/1229760/how-do-i-read-64-bit-registry-values-from-vbscript-running-as-a-an-msi-post-inst) by default, which completely hides the 64-bit Java installation.

This means QZ Tray install breaks if no 32-bit Java is installed.

This issue has been fixed in 806f59f

Please try the p

[2015-07-30 06:32] bkrajendra commented on #63
Thanks! I'll try and get back here..

[2015-07-30 08:09] bkrajendra commented on #63
atlast .. It compiled ...!
Don't know exactly how. but what I did last time was upgraded jdk to 1.8.0_51
I just saw your post today... rechecked all my ENV path vars... n again executed
ant and ant nsis ...
ant compile with success, but 'ant nsis' did throw error:

[code]

nsis is installed.

But at least it solved my problem ...
I got applet and jar compiled and also got nsis script.
I compiled n

[2015-07-30 10:17] bkrajendra commented on #63
Finally BUILD SUCCESSFUL :+1:
Solved makensis issue by adding it to path var. (C:\Program Files (x86)\NSIS)

[2015-07-30 10:17] #63 closed, assigned to nobody

[2015-07-30 13:37] tresf commented on #63
Thanks for the update.  I'm confused as this shouldn't be needed (and isn't on any of my systems). Here's the line that tries the x86 directory:

https://github.com/qzind/qz-print/blob/1.9/build.xml#L321

[code]

[2015-07-30 13:48] tresf commented on #63
At a closer look, you may be failing this check:

[code]

In this case, `makensis` is called directly (assumes it is on the path), but this is dependent on an ENV variable "windir", referred to by this code:   `<property environment="env"/>` and then the task *should* be skipped via `unless="env.windir">`

This is how Linux works (all binaries are already on the path) but Windows shouldn't ever ge

[2015-07-30 16:26] tresf opened #66 "Could not find the main class / Exception in thread "main""
**Issue:**

[code]

**Cause:**

Java 7 or higher is missing from the system. Java 7 or higher is required to run QZ Tray

**Resolution:**

Install Java 7 or higher from the Oracle website.

[2015-07-30 16:26] #66 closed, assigned to nobody

[2015-07-30 17:03] bd0 commented on #64
@tresf I removed my workaround around from the registry and ran the patched installer.  It worked flawlessly.  Thanks!

[2015-08-03 17:51] tresf opened #67 "Fix "Intranet" Zone in IE"
This bug has been migrated to https://github.com/qzind/tray/issues/6.

---

Currently, we use a brute-force method in IE to allow WebSocket communication by telling the computer to stop `Automatically detect intranet network`

![image](https://cloud.githubusercontent.com/assets/6345473/9043559/5c28cd30-39e4-11e5-9121-eeb1e19adc47.png)

This is a stop-gap which has adverse side-effects on a corpora

[2015-08-05 12:13] tresf commented on #67
@klabarge can you run with this one?  @Vzor- or myself can commit the code changes, we just need to know which setting(s) to change.

[2015-08-05 21:20] klabarge commented on #67
@tresf yes, I will see if I can come up with an alternative solution.

[2015-08-06 18:08] klabarge opened #69 "Cannot generate certificate/keys in Safari"
I tested on both of the below versions with the same results.

[code]

When trying to generate both the CSR and the key pair, the browser hangs at "Generating key pair"  and never completes.

Inspect element shows the error:

[code]

![image](https://cloud.githubusercontent.com/assets/12505463/9119044/9a278fda-3c42-11e5-84e4-7176889fcdde.png)

[2015-08-06 18:34] tresf opened #70 "Microsoft Edge Support"
@klabarge we should get on this bandwagon soon to see why it won't work.

We've had one client so far with an issue and we're likely to hear from more as Windows 10 auto-updates on more PCs around the globe. :+1:

-Tres

[2015-08-06 18:57] tresf commented on #69
Related:  http://stackoverflow.com/questions/31798241/safari-webcrypto-api-rsa-oaep-encryption

Per https://www.theseus.fi/bitstream/handle/10024/92960/Web_Cryptography_API_Luoma-aho.pdf?sequence=1, Apple's API hasn't matured yet, so they're using a different namespace.  This should fix it:

[code]

[2015-08-06 18:57] tresf commented on #69
FYI, Kyle, wrong repository, this should be on qz.io. :+1:

[2015-08-06 19:15] tresf commented on #69
@klabarge can you re-test now that we've applied https://github.com/qzind/qz.io/commit/daf14d6c8dc53b1fef34fa8987c4eb5d122cffeb

[2015-08-06 19:22] klabarge commented on #70
It seems to when trying to open a WebSocket.

[code]

![image](https://cloud.githubusercontent.com/assets/12505463/9121202/e22258ea-3c4e-11e5-8a62-7ddb9476d77a.png)

[2015-08-06 19:26] tresf commented on #70
@klabarge this could be the intranet zone thing we discussed.  Can we verify it works after disabling the checkbox in #67? (Do you have this disabled currently?)

[2015-08-06 19:34] klabarge commented on #69
Same error is displayed after the change:
![image](https://cloud.githubusercontent.com/assets/12505463/9121474/888229bc-3c50-11e5-987e-c56a65538139.png)

[2015-08-06 19:38] tresf commented on #69
AFAIk, crypto is only supported on Safari 8.  Which Safari version are you testing against?

[2015-08-06 19:48] klabarge commented on #69
Both versions 5 and 8 still hang on "Generating key pair..."

[2015-08-06 19:53] klabarge commented on #70
I tested with this setting disabled.  I also verified that this setting was changed in internet options, and not just the IE settings.

[2015-08-06 20:56] tresf commented on #69
Right, but the error on 8 is no longer `TypeError: 'undefined' is not an object (evaluating 'window.crypto.subtle.generateKey')`, so that portion is fixed now.  I'll have to put some more time into this.  It appears it's at least getting further now.

[2015-08-06 21:06] tresf commented on #69
Since there are no errors I have the feeling there's some callback or promise not getting returned from JavaScript.

@Lukas-W opinions welcome.

[2015-08-06 22:31] tresf commented on #69
I'm pretty sure this is due to the download never happening, which is sad... Ultimately, downloading a JavaScript generated "Blob" file is unsupported in Safari.  We'd have to farm this off to the server currently, which defeats the purpose of a private key.

https://bugs.webkit.org/show_bug.cgi?id=102914#c25

**Edit:** Probably a short-term solution (while we all wait for Apple to fix this functi

[2015-08-07 02:35] tresf commented on #70
I assume your testing still failed?  We'll have to do some websocket tests with Edge and find out how to  allow this stuff.  @klabarge , are you comfortable with researching this, since it is so closely related to the IE11 issue?

[2015-08-07 02:56] klabarge commented on #70
@tresf Sorry I was not 100% clear, but yes, the testing still failed.  I will dive into this one as well.

[2015-08-07 03:51] klabarge commented on #70
In about:flags "Allow localhost loopback" must be checked in order for the websocket to be opened.  When this setting is checked, the websocket is opened up properly and QZ Tray seems to function as normal.

**Note:** the websockets will still be blocked when using the local file system.

![image](https://cloud.githubusercontent.com/assets/12505463/9128389/cf7ee0ea-3c95-11e5-87a7-68b0b5c7e4a8.png)

[2015-08-07 03:58] tresf commented on #70
Great, thanks!

Next is finding where this is set in the registry, etc so we can flag it with the software.

**Edit:**  The way that I did this with IE was I had to export the HKCU (HKEY_CURRENT_USERS) key for `HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\` before and after and then did a diff against these files.

I don't know where Edge stores its registry settings, but if it

[2015-08-07 04:03] tresf commented on #70
The way that I did this with IE was I had to export the HKCU (HKEY_CURRENT_USERS) key for `HKCU\Software\Microsoft\Windows\CurrentVersion\Internet Settings\` before and after and then did a diff against these files.

I don't know where Edge stores its registry settings, but if it is in a dedicated area of the registry, we should be able to pull a diff and figure out exactly where this flag resides

[2015-08-07 06:10] bkrajendra opened #71 "TypeError: Cannot read property 'apply' of undefined"
What could be the reason behind this error while trying to do any operation in sample.html.
It connects properly, but get this error in console if I press any command button in sample.html and nothing happens.

[code]

Also qz-print log shows:

[code]

This started happening after i done some trial n error with certificate installation.. or ne I have blocked the request.. don't know..
But is there

[2015-08-07 08:13] bkrajendra commented on #71
Got resolved!
Accidently checked "Block Anonymous request"
Unchecking it in qz-tray resolved it.

[2015-08-07 08:26] bkrajendra opened #72 "How to suppress Action Required prompt?"
I tried instructions at https://qz.io/wiki/signing-messages also tried with self signed cirtificate and qz-print certificate..
But no success.
I know its explained at many places here, but i could not follow it.
Is it possible to suppress this prompt for open source version with self signed certificate?
This what Ive done:
Edited sample.html as..

[code]

content of sign-message.php file

[code]

[2015-08-07 11:15] tresf commented on #72
No this is not possible currently with QZ Tray unless you have purchased a
license.

We do have instructions for suppressing warnings with the free version of
QZ Print (Legacy Java Applet), but we have not yet added silent printing
for QZ Tray without a premium subscription.
On Aug 7, 2015 4:26 AM, "Rajendra" notifications@github.com wrote:

[2015-08-07 15:58] klabarge commented on #70
Registry setting to allow localhost loopback:

[code]

Registry setting to deny localhost loopback:

[code]

[2015-08-07 16:01] tresf commented on #70
Thanks, although this scares me: `microsoftedge_8wekyb3d8bbwe`.

Can you see if `microsoftedge_8wekyb3d8bbwe` or even just `8wekyb3d8bbwe` appears somewhere else in the registry?  That looks like a unique identifier, so our script would fail on anyone's PC except yours. :)

[2015-08-08 06:17] bkrajendra commented on #72
Thanks

[2015-08-10 17:29] tresf opened #73 "Close Open Serial Ports on Disconnect"
With QZ Tray, if the web browser is abruptly closed while a serial port is open a "port busy" error occurs.  Detailed description below:

[2015-08-11 04:50] tresf commented on #73
Closed via https://github.com/qzind/qz-print/commit/b639214d97ebf98448abf6ef3c0e4a3a5df7f3c8

QZ Print had this logic, but it was never carried over to QZ Tray.

This fix will be available with 1.9.4.  For the interm, you can get the fix here:

https://github.com/tresf/qz-print/releases/tag/v1.9.3-patch3

-Tres

[2015-08-11 04:50] #73 closed, assigned to nobody

[2015-08-11 05:07] #72 closed, assigned to nobody

[2015-08-11 05:20] tresf commented on #70
Initial support added via https://github.com/qzind/qz-print/commit/b54e9611de45210df43d4106dcec05bdd62926ae.

Kyle, can you try this out?  It will require you to check out the 1.9 branch and `ant nsis`.

-Tres

[2015-08-11 05:26] klabarge commented on #70
Yes, I will test this out and get back to you with the results.

[2015-08-11 20:56] tresf commented on #57
@klabarge if you can find where this color is stored :smiling_imp:

[2015-08-11 20:58] tresf commented on #71
Thanks for the feedback!

[2015-08-11 20:58] #71 closed, assigned to nobody

[2015-08-12 03:03] klabarge commented on #70
I compiled the latest version and every time QZ Tray is launched, the `Allow Localhost Loopback` setting is unchecked.

According to your comments this is the intended behavior:
![image](https://cloud.githubusercontent.com/assets/12505463/9215759/e8a304c6-407c-11e5-97ef-3200fda063b6.png)

However, this setting must be checked in order for the websocket to be opened.

[2015-08-12 03:12] tresf commented on #70
Thanks @klabarge.  Can you try `git pull` and see if this patch https://github.com/qzind/qz-print/commit/706409f08c3e6e77aab25e6101af835f652e21b7 fixes it?

[2015-08-12 03:30] klabarge commented on #70
The `Allow Localhost Loopback` is now being checked when QZ Tray is launched, which means the websocket connection can be established.  :+1:

[2015-08-12 03:33] tresf commented on #70
Thanks for the help :+1:

[2015-08-14 02:01] tresf opened #74 "qz.printPS() Zebra compatibility on Mac"
The `qz.printPS()` function renders blank labels, corners of labels, or completely misaligned labels when using a Zebra printer on a Mac.

Steps to reproduce
1. Attach USB or network Zebra printer
2. Configure printer using CUPS Zebra driver (not raw)
3. Install and run QZ Tray 1.9.3
4. Under PostScript features, click "Print PostScript Image"
5. Observe the label prints, but the printout is unusa

[2015-08-15 00:34] tresf commented on #70
Closed via b54e961, 706409f

[2015-08-15 00:34] #70 closed, assigned to nobody

[2015-08-15 00:36] tresf commented on #28
Closing as the deb file wont' happen any time soon and Fedora ships with the tools necessary for install.

[2015-08-15 00:36] #28 closed, assigned to nobody

[2015-08-15 00:50] tresf opened #75 "qz.appendImage() Hard crash on Mac"
The attached image crashes QZ Tray out completely with a Mac stacktrace when printed using qz.appendImage().

![image_sample_orig_broken](https://cloud.githubusercontent.com/assets/6345473/9427295/2ca0aee8-4943-11e5-9b16-845eb7e7ad96.png)

[2015-08-16 07:26] #51 closed, assigned to nobody

[2015-08-21 20:05] tresf opened #76 "JSON.stringify causes double-quotes around Array variables"
Some JavaScript frameworks use a prototype `toJSON` function, can incorrectly wrap quotes around JSON objects, completely breaking the QZ Tray application.

[code]

Becomes this:

[code]

Better explained here:
http://stackoverflow.com/questions/710586/json-stringify-array-bizarreness-with-prototype-js

The recommendation is to force the explicit use of the browser's JSON.stringify, which may invo

[2015-08-22 14:44] #76 closed, assigned to nobody

[2015-08-23 07:04] tresf commented on #75
The bugs seems to be specific to Java, Mac and the image format, which is a `1-bit` Grayscale PNG image.

A work-around is to use ImageMagic to perform image conversion and forcing the PNG color-type property to zero, which bumps the `1-bit` to `8-bit` and prevents the crash from occurring via `-define png:color-type=0`.  This has the benefit of maintaining the grayscale palette, but a downside of

[2015-08-25 13:14] tresf commented on #57
@klabarge bump

[2015-08-27 02:28] #75 closed, assigned to nobody

[2015-08-27 15:34] tresf opened #78 "setPaperSize incorrectly persists between jobs, printers"
The `qz.setPaperSize(int w,int h)` function allows some control over stretching a document to a destination paper size, however after switching printers, this setting persists.

The paperSize should be reset to default (`null`) after each print job so that the programmer can explicitly call it only when needed.

[2015-08-27 15:36] #78 closed, assigned to nobody

[2015-08-28 12:31] tresf commented on #67
@klabarge is there anything that we can do with this?  Last we spoke is sounded like you were unable to reproduce the issue, which leads me to believe we should close this out as `wontfix` now and reopen if and when we can reliably reproduce.

[2015-08-28 12:36] tresf commented on #65
@klabarge is the AppleScript something you're interested in tackling?  The Lion VM in Splashtop is a good place to start if you'd like.

[code]

should be executable via `osascript -e` in a terminal:

[code]

Once you figure out which commands are needed to fix the icon, I can incorporate them into our Java codebase.  Apple refers to the dialog containing the icon as the `Get Info` window.  Normal

[2015-08-28 13:30] #53 closed, assigned to nobody

[2015-08-28 16:05] tresf commented on #57
**Java**
- First it calls [`getThemeName()`](https://github.com/qzind/qz-print/blob/1.9/src/qz/utils/UbuntuUtilities.java#L90)
- Then it calls [`getTrayColor`](https://github.com/qzind/qz-print/blob/1.9/src/qz/utils/UbuntuUtilities.java#L49)

Mint Cinnamon 17.2 x64 seems to store it around here... (We should also check where Linux Mate stores it)

[code]

Once we get this value, we'll need to dete

[2015-08-28 16:59] tresf opened #80 "Signed Windows Installers"
Placholder for signing our Windows installers to prevent warning dialogs.

![image](https://cloud.githubusercontent.com/assets/6345473/10541666/e0f0bff6-73e0-11e5-9e47-9f9022e07923.png)

According to NSIS's documentation, this seems possible via [`signtool.exe`](http://nsis.sourceforge.net/Run_Command_After_Compilation) on Windows and [`signcode`](http://manpages.ubuntu.com/manpages/dapper/man1/si

[2015-08-28 19:28] Vzor- commented on #35
This was fixed as of 4c1a2685618940b98d055febf622db30b6e81da1

[2015-08-28 19:38] Vzor- commented on #75
This issue was with OS X 10.10 but not 10.9.5. It only happens with images that had a palette smaller than 16 colors, or a 4 bit pixel data size.

The fix was to take the palette out and putting it in a 256 color buffered image we can pad out the palette to 8 bits without introducing dithering. **Note:** If any dithering DOES happen it is due to the strangeness of Java and not the palette.

After

[2015-08-28 19:45] tresf commented on #35
:+1:

[2015-08-28 19:45] #35 closed, assigned to nobody

[2015-08-28 19:48] klabarge commented on #65
@tresf sure, I will look into this and let you know if I have any success.

[2015-08-28 19:52] klabarge commented on #67
@tresf As discussed, I will install QZ Tray on a fresh computer that is on a domain. I will save the registry settings before and after in case we can reproduce the problem.  I will report back here with my findings.

[2015-08-31 04:10] klabarge commented on #57
Linux Mint 17.2 Cinnamon 64-bit

The color for the system tray is stored in the file `/usr/share/themes/Mint-X/cinnamon/cinnamon.css`

Mint-X is the default theme, so if another theme is chosen, it would fall under its respective `whatever_theme/cinnamon/cinnamon.css` file.

The actual "Cinnamon" theme however is stored in `/usr/share/cinnamon/theme/cinnamonn.css`

The color is stored in the `#pan

[2015-09-01 03:05] tresf commented on #69
@Lukas-W shall we just put a warning for Safari users?  It seems Safari doesn't have the blob support which would be required for downloading the client-side private key.

[2015-09-02 02:03] tresf opened #81 "locator.sh finds Apps in Trash"
The application locator, used for Firefox (`locator.sh`) needs to filter out applications that have been moved to the Trash.

The application locator, `lsregister` does a good job of detecting applications on the system, but makes no priority on those installed to `/Applications`.

For example, if `Firefox.app` is dragged to the Trash and then reinstalled from DMG, `lsregister` may return `~/.Tras

[2015-09-02 03:03] #81 closed, assigned to nobody

[2015-09-02 04:39] #74 closed, assigned to nobody

[2015-09-02 14:54] tresf opened #82 "printHTML margins on Linux"
Per our old tutorial, this is an old bug that seems to affect Linux.

The symptom is that margins are printed despite explicitly specifying none in the code.

@Vzor- can you take a look at this when you get caught up?

![image](https://cloud.githubusercontent.com/assets/6345473/9634674/d992343a-5160-11e5-88b2-cd17029a7003.png)

[2015-09-02 19:20] tresf opened #83 "Citrix/Terminal Services support"
Placeholder to support a multi-user environment such as Citrix or Microsoft Terminal Services

[2015-09-09 01:27] tresf opened #85 "Enhance locator.sh on Mac"
Currently, [`locator.sh`](https://github.com/qzind/qz-print/blob/1.9/ant/firefox/locator.sh.in) on Mac will find an application that is found by `lsregister` regardless of its location.

Per https://github.com/qzind/qz-print/commit/bb144fc5f2c9374dbd9ffa0a6e9bec0166f6e073 I filtered out `/Volume` and `.Trash` versions of `Firefox.app`, but it still finds miscellaneous ones (user's Desktops, etc.)

[2015-09-09 03:28] #34 closed, assigned to nobody

[2015-09-10 18:08] tresf opened #86 "findPrinters() not firing qzDoneFinding() with Legacy Applet"
As title suggests, the `qz.findPrinters()` function is not properly calling `qzDoneFinding` when finished.  This only occurs with the Legacy Java Applet.

Steps to reproduce
1.  Exit all versions of QZ Tray to force Legacy Applet Fallback.
2.  Modify a working applet sample.html and change the the findPrinters() function to call `qz.findPrinters()` instead of `qz.findPrinter("\{bogus name for prin

[2015-09-10 19:26] #58 closed, assigned to nobody

[2015-09-10 19:26] #85 closed, assigned to nobody

[2015-09-11 16:55] haithem-rihane opened #87 "Print Html Horizontally"
Hi,

I'm using printHTML() function to print html div content on receipt printer 53mm,
I have a problem when printing html content it print vertically so it cut information
i would like to print it horizontally.

this is html content that i want to print (it contain 2 adjacent table and a text)

<div class="tabContent">
            <div style="float:left">
                <table class="tab1">

[2015-09-11 16:57] tresf commented on #87
This probably won't work for a while due to our lack of landscape support with HTML content.  Perhaps this one-off release will remedy the situation until we have proper HTML support finished (targeted for December 1st)

https://github.com/tresf/qz-print/releases/tag/v1.9.3-landscape

[2015-09-11 16:59] haithem-rihane commented on #87
thx so i will be using pdf till the December 1st

[2015-09-11 17:09] haithem-rihane commented on #87
is there line to add to PrintHTML function or automatically print landscape ?

thx

[2015-09-11 17:11] tresf commented on #87
Can you rephrase this question?  Are you talking about the one-off build?  If so, it is here:  https://github.com/qzind/qz-print/commit/5bb7c1c141fe071e065e4bf3c1c2fe2536aca5b1#diff-427d8ce4e50463c43a4eb480f855cd3fR143

-Tres

[2015-09-11 17:16] haithem-rihane commented on #87
thx for clarification that waht i need just more info about (String m_orientationString)  content text

[2015-09-11 17:17] tresf commented on #87
@haithem-rihane we'll leave this bug open since it will eventually be addressed with our 2.0 release.  Thanks for posting here!

[2015-09-11 17:26] tresf commented on #52
Closed via [`wiki/d22a1dc`](https://github.com/qzind/qz-print/wiki/Legacy-Import-Certificate/d22a1dc90f31b23ba5d1d248ad876f9f7ac31a2d) by uploading the certs to github and linking in the tutorial.

![screen shot 2015-09-11 at 1 26 45 pm](https://cloud.githubusercontent.com/assets/6345473/9821528/d239cbd8-5888-11e5-93b3-dc0cd514c278.png)

[2015-09-11 17:26] #52 closed, assigned to nobody

[2015-09-12 03:23] klabarge opened #88 "QZ Tray 1.9.4 installation fails on Linux"
Ubuntu 14.04

The installation appears to be successful, but QZ Tray never starts.

Scrolling up in the terminal, it looks like the installation may break here:
![image](https://cloud.githubusercontent.com/assets/12505463/9829653/88f75758-58db-11e5-98cf-892899449895.png)

Note that I was able to install QZ Tray 1.9.3 successfully afterwards.

[2015-09-12 05:05] #88 closed, assigned to nobody

[2015-09-12 20:33] feryardiant opened #89 "Couldn't start QZ-tray on Freya 0.3.1."
Just successfuly installed QZ-Tray on Elementary-OS Freya 0.3.1 but it couldn't start and when I try to start from Terminal, I got this:

[code]

I'm using Oracle Java 1.8.0-60

[code]

any thoughts??
Best regards

[2015-09-12 20:37] feryardiant commented on #89
Is it related to #38 (I guess)

[2015-09-12 23:11] tresf commented on #89
This may be due to the tray icon not being supported on your platform.   We've offered support for this with the 1.9.4 release, which we expect to have ready in a day or so although you are free to compile yourself via

https://github.com/qzind/qz-print/wiki/Compiling

[2015-09-12 23:15] feryardiant commented on #89
Hi @tresf

Looking forward till it's officialy ready :grin:

[2015-09-15 19:40] tresf opened #90 "Add warning dialog when "Block" is selected"
Several users have accidentally clicked "Block" instead of "Allow" in combination with "Remember this decision".  We should add an additional warning when the block occurs to help prevent the mistakes.

![image](https://cloud.githubusercontent.com/assets/6345473/9923274/fca6bed0-5cc0-11e5-9017-d9d90581d8ca.png)

[2015-09-15 20:46] tresf commented on #80
FYI, @Vzor- has started this.

**Edit:** Added properties example.

This is placed in `~/Desktop/Code Signing/private.properties` and is automatically loaded via [`build.xml#L17`](https://github.com/qzind/qz-print/blob/1.9/build.xml#L17)

[code]

perhaps add

[code]

[2015-09-16 15:29] tresf opened #91 "Remove static localhost bindings in code"
We have a user that has taken the time to convert QZ Tray to use a hostname instead of `localhost` which may help for our Citrix enhancement (#83) via fc33512 1eb2350 005da8a.

This is a placeholder to enhance the `localhost` bindings to allow an IP address or hostname similar to the aforementioned commits (we'll leave `localhost` as default).

Questions...
- Should we make the JavaScript file upd

[2015-09-17 01:23] tresf commented on #69
Moved to https://github.com/qzind/qz.io/issues/32

[2015-09-17 01:23] #69 closed, assigned to lukas-w

[2015-09-17 01:44] #86 closed, assigned to nobody

[2015-09-17 02:22] #90 closed, assigned to nobody

[2015-09-17 15:20] dsanders11 commented on #91
I think the list is rendering a bit off, but I think I can read it how it was intended.

Something I'll point out in regards to this: With the custom certificate generation, it would be very useful to be able to supply a root certificate to use for signing the generated certificate, or simply the ability to supply an existing certificate in the installer.

When I implemented this in my use case, I

[2015-09-17 15:38] tresf commented on #91
I'm going to pick on semantics here a bit (sorry) but signing is done using a **private key**.  Would you distribute that same private key to all machines?  This is what Lenovo did with the [superfish blunder](https://en.wikipedia.org/wiki/Superfish#Lenovo_security_incident) and it's normally frowned upon, but risk is minimal if the cert is bound to a particular hostname rather than a wildcard dom

[2015-09-18 03:02] klabarge commented on #67
I was able to successfully/reliably reproduce this problem.

Steps:
1. On a clean PC, tested that I could access network resources without being prompted for credentials
2. Installed QZ Tray
3. Accessed a network resource and was prompted for credentials
4. Uninstalled QZ Tray
5. Accessed a network resource and I was _still_ prompted for credentials
   - The setting changed on installation is not

[2015-09-18 04:00] klabarge commented on #89
QZ Tray 1.9.4 still fails to start in Elementary-OS Freya 0.3.1

[2015-09-18 04:04] tresf commented on #89
Install log?

[2015-09-18 04:21] tresf commented on #89
FYI - http://elementaryos.stackexchange.com/questions/1706/system-tray-icons-for-java-and-nodewebkit-applications

[2015-09-18 04:26] tresf commented on #89
@Vzor- can we write a wrapper which simulates the tray through a JFrame when not available?

[2015-09-18 04:41] klabarge commented on #89
In 1.9.4 my console output is different, so I will post it.

Note that I have to CTRL+C out of this.

[code]

[2015-09-18 04:49] tresf commented on #89
Well, that's better than @feryardiant's `UnsupportedOperationException`.  It is certainly starting and running.  Perhaps the dialogs aren't showing, but we tackled that scenario with kiosk mode via #60, so this should work.

[2015-09-18 04:58] klabarge commented on #89
Sorry for the false information. I restarted my VM, launched QZ Tray from the console, and I was able to successfully load the demo page (https://demo.qz.io) using Chrome.

[2015-09-18 05:01] tresf commented on #89
Thanks.  Please post a screenshot.  Closing as duplicate of #60.

[2015-09-18 05:01] #89 closed, assigned to nobody

[2015-09-18 05:12] klabarge commented on #89
Initial prompt on Chrome:

![image](https://cloud.githubusercontent.com/assets/12505463/9952275/ccbff970-5da1-11e5-9d79-a98ed5149241.png)

Successful page load of QZ Tray 1.9.4

![image](https://cloud.githubusercontent.com/assets/12505463/9952304/0e75dae2-5da2-11e5-93b6-73c017f92e11.png)

[2015-09-18 05:13] tresf commented on #89
:+1:

[2015-09-18 05:32] dsanders11 commented on #91
Yes, the private key for the self-signed CA certificate.

To avoid any extra confusion here, since there are two certificate/private key pairs at play here: the one used for secure traffic on the web socket (WSS) and the one used for securing print requests to qz-tray.

To make life simpler, both of those certificates in my deployment were signed with the private key of a self-signed CA certificat

[2015-09-18 06:05] feryardiant commented on #89
+1

Best, Fery.

[2015-09-18 12:52] tresf commented on #91
Oh of course because the PCs won't have the software running. :bulb:

Thanks for the explanation.

[2015-09-18 19:26] tresf opened #92 "Option to Suppress Tray Messages"
On Windows, you can suppress tray messages, but only if the icon is hidden.

We like these messages for the demo page (and for all dev/testing) but they are way too verbose for production use.  We need a way of disabling them for a particular connection.

   ![image](https://cloud.githubusercontent.com/assets/6345473/9968904/5e87226c-5e19-11e5-8065-d0dcb62ebbe3.png)

Mac does not appear to have su

[2015-09-18 20:50] tresf commented on #91
Thanks, fixed. :+1:

[2015-09-21 04:17] tresf commented on #65
![screen shot 2015-09-21 at 12 15 58 am](https://cloud.githubusercontent.com/assets/6345473/9985242/05330e7c-5ff6-11e5-9ed3-60223d50b703.png)

Looks like a better approach than AppleScript is to simply link to the parent directory, which will fix the icon automatically and still launch the application properly, since Mac app bundles are launched by `QZ Tray.app` directory in Finder.

[2015-09-21 04:18] #65 closed, assigned to nobody

[2015-09-21 11:33] geevcookie opened #93 "Multipage HTML"
A previous issue was logged here:
https://github.com/qzindustries/qz-print/issues/47

Is this still a problem? Any solutions? Suggestions?

Btw...great product other than the HTML issues. :)

[2015-09-21 12:34] tresf commented on #93
We plan on adding multi-page HTML printing in December as part of our HTML, PDF and printer functions rewrite.

**HTML rewrite:**

We'll be using a WebKit rendering engine which will give us better support for CSS 3.0, JavaScript and a more modern HTML5.  This should  be much more accurate with what web developers are used to, and we will be doing multi-page support in an overflow fashion (content

[2015-09-21 12:36] tresf commented on #87
Related #93

[2015-09-21 12:38] tresf commented on #44
Related #74

[2015-09-21 12:39] tresf commented on #38
Closing since there are lack of steps to reproduce.  When sufficient steps exist, please reopen and edit the original bug description.

[2015-09-21 12:39] #38 closed, assigned to nobody

[2015-09-25 16:24] tresf opened #94 "Mime-type launcher"
A placeholder to add a mimetype/URI launcher for the web browsers which allows QZ Tray to be launched by URL, i.e.

![image](https://cloud.githubusercontent.com/assets/6345473/10107117/d13b8786-6386-11e5-8ef7-61195777172f.png)

I think this is doable at install time via a URL like

[2015-09-25 17:11] tresf opened #95 "Singleton QZ Tray Instance"
Request to allow QZ Tray to be aware of other running instances and shut itself down.

[2015-09-25 17:39] ocaloke commented on #95
I think this would be a nice feature to add, as I have seen users with multiple instances running.

[2015-09-28 06:22] geevcookie commented on #93
Maybe my issue is not related, but I am having problems printing long receipts to a thermal printer. It seems to cut off at about A4 size and never prints the full page. I have tried with your applet and QZ Tray. Could you confirm if this is a known issue in the software? My guess is it is probably a printer setting, but I am just covering all my bases. :)

[2015-09-28 12:23] tresf commented on #93
@geevcookie yes, if you are using HTML, this is a known issue.  Some customers workaround this limitation by setting a custom page size which is much taller than A4.  We plan to have this resolved in the 2.0 release, expected in December 2015.

[2015-09-28 22:09] tresf opened #96 "qz.findPrinter() not working"
In 1.8 (applet), `qz.findPrinter()` was a [completely valid command](https://code.google.com/p/jzebra/wiki/TutorialWebApplet#Printing).  Now with 1.9, it is not.

The exact error message is:

[code]

[2015-09-29 02:30] #96 closed, assigned to nobody

[2015-09-29 02:32] tresf commented on #96
Partially caused with the introduction of #86, as dummy printer logic was doing string comparison against null causing NPE.  Closed via bbf0263, checks for null prior to comparing string.

![image](https://cloud.githubusercontent.com/assets/6345473/10154121/8affe9d0-6631-11e5-97a4-98a8155c16b4.png)

[2015-09-30 03:24] tresf commented on #91
Added initial support for non-localhost bindings via https://github.com/qzind/qz-print/commit/f8b273af8b6d2f8a0189a120bbae042d5afaca7d

Although an install-time approach is likely preferred, handing the different `host.domain` input methods on Apple, Windows and Linux adds a complexity (fetch input via AppleScript, NSIS, bash) as well as an unnecessary prompt to our base installer that probably is

[2015-10-07 17:32] atom32k opened #97 "QZ TRAY Corrupt or missing file supplied"
Hi,

I've been using and still use successfully qzprint in production as Java applet without any problems and now I'm adding QZ Tray support but with issues.

I'm sending png images to printer and that works OK with Java applet but with QZ tray I only get "Corrupt or missing file supplied".

Usage as following:

[code]

Checking web app logs it doesn’t even hit that URL to get image (with absolute

[2015-10-07 18:52] tresf commented on #97
This is likely due to the file being inaccessible by QZ Tray.  Please try to move the PNG to a web location that is not behind authentication and see if that helps.

I'm closing this as it is a support request, but feel free to continue commenting here.

[2015-10-07 18:52] #97 closed, assigned to nobody

[2015-10-07 19:45] atom32k commented on #97
Well that could be the case if QZ Tray would try to make request to web server (http://localhost:8084/myapp/getLabelImage?image_name=5417_label-1.png) and try to get that image to send to printer but nothing is hitting web server with that request (form QZ Tray) in first place.

[2015-10-07 19:54] tresf commented on #97
@atomekk there are a lot of variables in play here, but I can reassure you that our `sample.html` appends images by URL and this functionality was tested thoroughly for the 1.9.4 release without any issues.  So, I can promise that this functionality works despite what you are observing in your HTTP logs.

Perhaps a race condition is happening, but we'd need more details to troubleshoot that.  Can

[2015-10-07 20:25] atom32k commented on #97
URL is behind authenticated location but I would see in web app server logs that something is trying to make request and I'm sure QZ Tray don't even try to do any.
For time being I just feed qz.appendImage() with base64 URI and that works.

[2015-10-09 14:47] tresf opened #98 "Rewrite sample.html"
Rewrite `sample.html` to be more organized and more user friendly.

For reference, here's a snapshot of an old work-in-progress.
![image](https://cloud.githubusercontent.com/assets/6345473/10396751/3f317e8a-6e72-11e5-87ab-0d6af9e65f81.png)

We may decide to do something a bit more modular, where we offer code snippets inside the demo itself for easy interaction through something like `highlight.js

[2015-10-19 17:56] tresf opened #99 "Client-side Signing"
This bug report has been migrated here (closed, working):
https://github.com/qzind/tray/issues/1

Jump to solution here:

---

Provide a code example for client-side signing:

Our guide offers many server-side signing examples:
- https://github.com/qzind/qz-print/wiki/Signing-Messages

But no client-side examples.  The only method I'm aware of is through JavaScript which has the security risk of e

[2015-10-23 16:50] tresf opened #100 "Serial Support broken with Legacy Applet"
Serial Support has stopped functioning in the Applet version.  Backtrace:

[code]

[2015-10-23 17:30] tresf commented on #100
This issue is present on Java 1.8 u60 and may be a security enhancement that was added to recent Java Versions as I'm not aware of any JSSC nor any QZ Print which has changed to break this.

Reverting to JSSC 2.5 (before this line of code was introduced) seems to fix the problem, so we may be able to fix this upstream by wrapping a try/catch around the property read.

To download the trusted-signe

[2015-10-30 14:42] tresf commented on #93
@geevcookie Printing functions are written and working on our 2.0 branch (no release candidate is available yet).

In regards to multi-page HTML, development is underway.  This is still on target for December.

https://github.com/qzind/qz-print/blob/2.0/src/qz/printer/action/PrintHTML.java

-Tres

[2015-10-30 14:47] geevcookie commented on #93
Thanks for the update. :smile:

I have in the meantime convinced my client that he does not want all the extras and moved the printing over to EPL through QZPrint. Works beautifully. And much faster.

[2015-11-04 04:47] tresf commented on #80
Closed via 79ca3b2.  @Vzor- did this in a way which doesn't require any special pfx certs. :+1:

[2015-11-04 04:47] #80 closed, assigned to nobody

[2015-11-04 06:38] ordercup commented on #80
Great! :-)

Aloke Nath | OrderCup
www.ordercup.com
D: 949-482-6186
O: 877-240-3545

On Tue, Nov 3, 2015 at 8:47 PM, Tres Finocchiaro <notifications@github.com>
wrote:

[2015-11-04 16:57] tresf opened #102 "JSDoc Support"
Support for generating API documents based on the JavaScript markup.
- 2.0 branch only
- Example library https://github.com/jsdoc3/jsdoc

Example markup: [`js/qzTray.js#L552`](https://github.com/qzind/qz-print/blob/2.0/js/qzTray.js#L552)

Tagging @Lukas-W

[2015-11-05 04:10] tresf commented on #94
Initial support added via 66185b2, 4c40812 (Windows only).  Linux and Mac will require some more research.

@klabarge if you're interested in researching the Linux side of things, please do and post your findings here.

[2015-11-05 19:13] tresf commented on #94
Apple support added via b57c573f.

[2015-11-05 21:08] tresf commented on #94
Linux support added via 5eb78bf which closes this issue out.

@lite1979 @klabarge can you test this out?  The easiest way is to add this to an HTML file:

[code]

[2015-11-05 23:37] klabarge commented on #94
I compiled and installed the latest version on Ubuntu 14.04

I added the line:

[code]

to `sample.html` to create a link.

When clicking the link in Chrome, the following dialogue appears:

![image](https://cloud.githubusercontent.com/assets/12505463/10985072/16631d30-83ec-11e5-8f9a-90d52cd4b80a.png)

When clicking "Launch Application," another instance of Chrome is launched.  QZ Tray is **not**

[2015-11-06 00:04] tresf commented on #94
Thanks Kyle.  Can you try the following command please?

[code]

This will only affect the current logged in user but was the first approach I had tried.

[2015-11-06 00:29] tresf commented on #94
Actually Kyle... instead can you try to run this command interactively, perhaps there's a bug with the way I'm calling it in our install script...

[code]

[2015-11-06 03:20] klabarge commented on #94
I first ran: `sudo update-desktop-database` and tried launching QZ Tray from both Chrome and Firefox.
1. Chrome
   - Even after restarting the browser, a second instance of Chrome was launched.  QZ Tray was not launched
2. Firefox
   - A refresh of the page brought the dialogue below.  After selecting "OK," QZ Tray was launched.
     ![image](https://cloud.githubusercontent.com/assets/12505463/109

[2015-11-06 06:24] tresf commented on #94
Chrome works fine for me on both 14.04 and 12.04 so as long as I use that `sudo update-desktop-database` after install.  I'm still perplexed as to why it needs to be run again...

In regards to it not launching for you in Chrome, try launching Google Chrome from command line via `google-chrome` and see if the error console says anything about why it won't launch.

[2015-11-06 13:54] tresf commented on #94
Testing results (I will update this post for other distros):
- Ubuntu 12.04 x64

  | Launcher | Version | Test Results |
  | --- | --- | --- |
  | `chromium-browser` | 37 | :white_check_mark: Pass |
  | `google-chrome` | 46 | :white_check_mark: Pass |
  | `xdg-open` | 1.0.2 | :white_check_mark: Pass |
  | `firefox` | 23 | :no_entry: Fail |
  | `firefox` | 42 | :white_check_mark: Pass |
- Ubuntu 14

[2015-11-06 19:22] tresf commented on #94
Ubuntu 14.04 fixed via ba51664.

[2015-11-11 03:03] #100 closed, assigned to nobody

[2015-11-11 04:10] tresf commented on #102
I used a slightly dated version of JSDoc (2.6 available in the Ubuntu 12.04 repos) against `js/qzTray.js` and the docs seem to be quite nice.

@bberenz should we be using `type` or `typedef` for some of the custom objects?

![image](https://cloud.githubusercontent.com/assets/6345473/11083651/13f4eeb2-8800-11e5-9a5a-189e77c7ffff.png)

[2015-11-16 01:13] tresf opened #103 "clearException() method not working as expected"
Quoting the original bug report which came in via email:

The offending code appears to be here:

https://github.com/qzind/qz-print/blob/1.9/js/qz-websocket.js#L189:L197

[2015-11-16 04:05] tresf commented on #103
@bberenz I spent a couple hours on this and I'm in a tailspin trying to figure out why `getException` never gets cleared.

Can you take a look?  This is a core function that seems to have been broken since the release of QZ Tray.

[2015-11-16 05:01] tresf opened #104 "printToFile() bug"
When using `printToFile()`, the software gets stuck and never switches back to using a printer.

Nearly identical in nature to #33 via https://github.com/qzind/qz-print/commit/d7259bb0f369f47b0172a653586c812e8a805c46.

After a successful print, `outputPath` needs to be set to `null`.

[2015-11-16 15:15] #103 closed, assigned to nobody

[2015-11-16 15:18] akberenz commented on #103
I think your confusion came from the weird way we are handling exceptions in 1.9, because we always send a result when the exception value changes, even on null, and re-purpose it to be a property on a js object.
https://github.com/qzind/qz-print/blob/1.9/src/qz/ws/PrintSocket.java#L352

[2015-11-16 15:46] tresf commented on #103
@bberenz Thanks that was my first instinct, but now when you try to print an XPS document and "Cancel" at the "Save As" screen, it doesn't fire an exception because `getLocalizedMessage` is `null`.  Shall we also add in an:

[code]

[2015-11-16 16:03] #104 closed, assigned to nobody

[2015-11-16 16:05] akberenz commented on #103
Yes, we should. I've added it under 9a9fa61190db52d4938b0ab8651faa63ef24436c.

[2015-11-16 16:09] tresf commented on #103
:+1:

![image](https://cloud.githubusercontent.com/assets/6345473/11186999/7a303ed8-8c52-11e5-9583-e0dc38cddd2c.png)

[2015-11-18 03:54] tresf commented on #104
Related: https://github.com/qzind/qz-print/commit/af4269669e9b9965c41b0cdda6e26a67c409e443

[2015-11-18 14:46] Vzor- commented on #95
I am currently working on this.

[2015-11-18 16:12] tresf opened #106 "Windows 10 - Fix QZ Tray launcher"
@klabarge Can you investigate as to why the launcher won't show up when searching for "QZ" in the Windows 10 start menu?

[2015-11-18 16:31] tresf opened #107 "Calling deployQZ() again"
@bberenz we have a client requesting to call `deployQZ()` a second time after the tray software has been started.

These are the proposed changes to the `qz-websocket.js`:

I wonder if there is a better approach to this.  I've already reset the counter via https://github.com/qzind/qz-print/commit/bf513472067730ad9c7395c6ec70dffe88fe7290, but the above concerns seem to be pretty valid about cleanin

[2015-11-18 16:59] akberenz commented on #107
If we are just setting `websocket` to null, then we do not need to individually set the functions to null, they will automatically become `undefined`. Just as well, we only need to do this in the `onclose` function. If an error occurs that shuts down the connection, both `onerror` and `onclose` get called.

His keepAlive variable works, but we also need to reset `qzConfig.preemptive` alongside the

[2015-11-18 18:30] klabarge commented on #106
After updating to QZ Tray 1.9.4-patch 1, QZ Tray shows up when searching for "qz."

Should I look for a solution in older versions?

![image](https://cloud.githubusercontent.com/assets/12505463/11249918/bd6101b4-8df7-11e5-8996-9e4e1370fd92.png)

[2015-11-18 19:31] tresf commented on #107
@bberenz thanks for the feedback.  So the websocket functions/properties should all invalidate automatically with our existing code, right?

How about this approach? #108

[2015-11-18 19:36] tresf commented on #106
No, that's perfect.  Closed via https://github.com/qzind/qz-print/commit/4c408122fbe548031ee5c163bfa15565184c650a, which adds a dedicated `.exe` launcher for Windows.  Thanks!!

[2015-11-18 19:36] #106 closed, assigned to nobody

[2015-11-18 20:33] akberenz commented on #107
Yes, as soon as the websocket closes, any further calls will result in an error caused by a CLOSED state.

#108 looks good to take care of this.

[2015-11-19 04:24] tresf commented on #107
`setInterval` seems to be a special edge-case where nulling the variable won't stop it from executing.  This should help: https://github.com/tresf/qz-print/commit/e64cf68723bf5315c797e49f00d1d51b4625c3bf

[2015-11-19 14:23] tresf commented on #107
From our client:

(I've incorporated the client's changes here tresf@4f01ec8)

First, I tested the scenario where keepAlive is null and can confirm that clearInterval throws an error, so I believe that check is good. :)

Second, I also agree with the part where a valid websocket throwing an error may not be grounds for a self-destruct alone.  In practice this may be a bit different.  We'll have to

[2015-11-19 14:45] akberenz commented on #107
The websocket's `onclose` method is called after every failed attempt to connect. That check is there so that `qzSocketClose` will only get called after all possible ports have failed to open. Though this doesn't work on secure pages where the loop breaks when trying an insecure port.

This was also set up before we had the `qzNoConnection` call, and could be removed if it isn't the behavior you w

[2015-11-19 15:01] tresf commented on #107
@bberenz sorry, I linked the wrong line... Here:  https://github.com/qzind/qz-print/blob/1.9/js/qz-websocket.js#L88

[2015-11-19 15:09] akberenz commented on #107
I believe that one was added for the same reason, but because `onerror` is called first and does the incrementing itself, that check is never acted upon.

[2015-11-19 15:33] tresf commented on #107
Ok, I won't beat it up further since 2.0 rewrites a lot of this code anyway.  I'll squash and merge these changes and get them tested prior to the 1.9.5. roll-out.  Thanks for the review.

[2015-11-19 15:40] #107 closed, assigned to nobody

[2015-11-20 16:56] tresf opened #110 "Printer name containing "#" breaks signing"
Reported as:

[2015-11-23 14:12] tresf opened #111 "Option to reduce console.log verbosity"
Currently the web console log is very busy with websocket messages.  The option to reduce the verbosity would be nice for developers that may need to parse the log for non-qz related events.

[2015-11-23 16:30] jamesmosier opened #112 "Support for CPCL (Zebra) print templates?"
After much research, I was unable to find any information on whether or not qz-print has any support for the Zebra print template language CPCL. I know ZPL is its cousin, but not the same. I looked at the various methods that hang off of the `qz` object in JavaScript, but did not see any related to `appendCPCL` or anything of the sorts.

I tried to do a simple CPCL print test by doing this below,

[2015-11-23 19:02] lite1979 commented on #112
James:

We do support text and barcode printing in CPCL, but we have no hardware to
test on. Image printing in CPCL is not yet supported by QZ-Print.

What model printer do you have? Is it set up as a raw/generic queue, or are
you using the Zebra driver?

Here is a 'Hello World' from the CPCL programming manual:

qz.append('! 0 200 200 210 1');
qz.append('TEXT 4 0 30 40 Hello World');
qz.append('F

[2015-11-23 19:11] jamesmosier commented on #112
Hi Lite,

Thanks for the quick response. I am using QZ-Tray and I have been able to successfully print the example ZPL to my printer (of course it doesn't look correct, but it prints!) but not my own CPCL code. I replaced my code with the example above and it still failed to print. It does prompt me to "allow" the connection (which it always does) which I allowed and also showed an alert stating "

[2015-11-23 19:19] jamesmosier commented on #112
I was able to get this to print! I just had to add line breaks to each line. So (fingers crossed) in theory I should be able to get my own template to print using the same methodology. Thanks for your help!

[code]

[2015-11-23 19:19] #112 closed, assigned to nobody

[2015-11-23 19:34] lite1979 commented on #112
Wonderful! Thanks for the update, James.

On Mon, Nov 23, 2015 at 2:19 PM, James Mosier notifications@github.com
wrote:

[2015-11-23 19:43] jamesmosier commented on #112
No problem! Still having trouble printing my own template (they just all get stuck in the print queue), but hopefully I'll be able to make a breakthrough soon. Thanks again!

[2015-11-24 17:13] tresf commented on #98
Closed via https://github.com/qzind/qz-print/commit/dcd616bbc1ef325dffd0d86dfecb6d365580e976.

![image](https://cloud.githubusercontent.com/assets/6345473/11374588/cd543aee-92a4-11e5-8fdd-4f06338770a4.png)

[2015-11-24 17:13] #98 closed, assigned to klabarge

[2015-11-25 17:09] tresf opened #115 "Quit not working on Mac"
Clicking `Quit` from the File menu or the Dock in Mac doesn't close QZ Tray.

[2015-11-25 17:25] nhouse commented on #111
Perhaps you could add a flag to `qzConfig` like `showDebugOutput` set to `true` by default. So then I could do:

[code]

Then you could change you `console.log()` statements from:

[code]

To:

[code]

[2015-11-25 17:29] #115 closed, assigned to nobody

[2015-11-25 18:21] tresf commented on #91
`deployQZ("foo.bar")` added via 6f1cd58
 Apple support is done via 91487b0.

Last step is documentation.

**Edit:** Documentation started here: [`wiki/Print-Server`](https://github.com/qzind/qz-print/wiki/Print-Server) @klabarge to complete and publish to home page.

[2015-11-30 04:35] klabarge opened #116 "Open file location Linux QZ Tray"
Tested on Ubuntu 14.04 64-bit

After compiling and installing the latest version of QZ Tray (1.9.5), **Right click > Advanced > Open file location** does not work.

![image](https://cloud.githubusercontent.com/assets/12505463/11463562/a88c298c-96f1-11e5-9062-09a245a1917a.png)

[2015-11-30 14:25] #116 closed, assigned to nobody

[2015-11-30 14:26] tresf commented on #116
Tested on:
- :white_check_mark: **PASS** `Ubuntu 12.04 x64`, `OpenJDK 1.7.0_79`
- :white_check_mark: **PASS** `Ubuntu 14.04 x64`, `OpenJDK 1.7.0_91`
- :no_entry_sign: **FAIL** `Ubuntu 14.04 x64`, `Oracle Java 1.7.0_72`

![image](https://cloud.githubusercontent.com/assets/6345473/11473353/e34509d8-973f-11e5-9c64-a6b859968c29.png)

I've put `xdg-open` fallback in the code via d6cc780 for the edge-ca

[2015-12-02 08:00] emerinohdz opened #118 "Applet future (browsers deprecate NPAPI support)"
Hello, recently mozilla announced the end for NPAPI based plugins for late 2016, chrome did this already since v45.

What is the planned support for applet users? We have an application that depends heavily on the qz-print applet, are there any alternatives?

Thanks in advance.

[2015-12-02 08:16] emerinohdz commented on #118
Never mind, just found the QZ Tray (I'll paste it here for the record):
https://qz.io/wiki/using-qz-tray

[2015-12-02 08:39] emerinohdz commented on #118
However, there's still one problem with that solution, currently it requires print requests to be signed and this is done by using a remote server... is there any workaround for offline applications?

Currently we have a POS that can work offline, by using the applet this is not a problem but it seems that using the qz tray application might be a problem. What do you suggest?

Thanks in advance.

[2015-12-02 13:57] tresf commented on #118
JavaScript cryptography is fairly matured, so this should work with the correct JavaScript libraries.  We need some help in this regard.

Here's the best place to continue the discussion: https://github.com/qzind/qz-print/issues/99

If you have the capacity to offer a working, generic client-side signing example, we'd be happy to offer you something in return to compensate you for your time.

Mark

[2015-12-02 13:57] #118 closed, assigned to nobody

[2015-12-02 21:39] tresf commented on #111
Stared via https://github.com/qzind/qz-print/pull/119.  @bberenz, etc, feedback welcome.

[2015-12-03 04:00] akberenz commented on #111
Already being taken care of as `_qz.DEBUG` in the 2.0 branch, to address this very issue.
I can port the logging level code, if you'd rather the fine level control.

[2015-12-03 04:44] tresf commented on #111
@bberenz thanks for the quick response.

I'll keep consistent with 2.0 then.  Simplified via https://github.com/qzind/qz-print/commit/4db4d684365ae2dd4d21da5df2b4b8f6c2465685.  Second set of eyes is greatly appreciated.

[2015-12-03 19:05] ChaosNemesis opened #120 "Wrong setMnemonic in ConfirmDialog and GatewayDialog initComponents()"
Seems to be the wrong setMnemonic, probably copy paste.  Suggested fix:

[code]

[2015-12-03 21:31] #120 closed, assigned to nobody

[2015-12-03 21:32] tresf commented on #120
@ChaosNemesis :+1: thanks.  Fixed via 7fa8a68 (and def2661 in 2.0 branch)

[2015-12-04 21:26] tresf commented on #99
Still struggling with this... should be relatively simple... code so far...

[code]

[2015-12-04 21:46] emerinohdz commented on #99
As pointed out, signing client side is a security concern, because the private key will be available, I believe this breaks the whole security model implemented in qz-tray.

But taking a deeper look at this, anyone could actually request to sign the print request to the server and bypass the whole thing...

I guess the right question is: what is the purpose of signing print requests? It seems it i

[2015-12-04 21:47] emerinohdz commented on #99
@tresf I think you can get away with the ajax call... I'm gonna give this a try later today and see if I can provide the code for this issue.

[2015-12-04 22:30] tresf commented on #99
To mandate a level of verification by the person talking to hardware.

In a server-side-signing example (the only method we currently support), the [onus is on the service provider to protect the signing logic from unauthorized access](https://github.com/qzind/qz-print/blob/1.9/assets/signing/sign-message.php#L13:L15).

Well... first for the business need...
- In certain isolated offline environme

[2015-12-05 00:22] emerinohdz commented on #99
Once a 3rd party gets access to a client (e.g. client gets compromised), I believe this whole model will get compromised, no matter what we do to try to mitigate this (we can only make it 'least bad'), let me explain.

If a 3rd party has access to the client, he'll be able to:
- Send an authenticated request to the server to request signing. This is bad, because he already knows one authentication

[2015-12-05 00:39] tresf commented on #99
It's not plug-and-play, but it doesn't require recompiling.  It's a command-line option which would have to be provided to the shortcut on each workstation.  It's in the commit message of the aforementioned commit and it will not be available until 1.9.5.

Correct, minus the intermediate stuff.  If they shim the launcher, they'd be using their own cert as the only trusted root, so whether or not t

[2015-12-05 00:45] emerinohdz commented on #99
I see, I hope this gets revisited for (maybe?) v2. In the meantime, I'm getting back an epson printer later today, I'll see if I can get this working client side.

[2015-12-05 00:46] tresf commented on #99
Yes, I think overriding the trusted root may be the best solution for these client-side-signing edge-cases.  They'll still need client-side signing as well as a potential install-time option to auto-install the trusted root override.

In regards to avoid having the server do ~~client-side~~ signing, we're open to ideas.  2.0 will be done and ready for testing in a couple more weeks, so if this is

[2015-12-06 16:10] #111 closed, assigned to nobody

[2015-12-06 16:10] tresf commented on #95
FYI, work is in progress here:  https://github.com/qzind/qz-print/compare/1.9...Vzor-:1.9

[2015-12-06 21:49] tresf commented on #57
Desktop icon fixed via 3d623ce2817d64489dc5a525507acfe452133608.

Unfortunately the Linux Mint tray icon cannot be fixed easily due to various reasons:
- The themes aren't consistent.  In Mint 17.3 the desktop uses a separate theme from the rest of the components (i.e. [NOT `Mint-X`, but rather one called `Linux Mint`](https://cloud.githubusercontent.com/assets/6345473/11615801/5bfbb230-9c38-11e5-

[2015-12-06 21:49] #57 closed, assigned to nobody

[2015-12-07 18:17] Vzor- commented on #92
I'm starting this one on my fork.

[2015-12-07 20:05] tresf commented on #110
Contrary to the OP's feedback, this doesn't override the support certificate.

This is an edge-case caused by the use of `GET` for signing and is not going to be fixed.  Instead `POST` can be used to workaround this problem, which is already recommended in in production environments for several other reasons (such as the default `GET` length limitations)

Why this occurs:
- When `#` is seen in the

[2015-12-07 20:05] #110 closed, assigned to nobody

[2015-12-07 20:23] #95 closed, assigned to nobody

[2015-12-07 20:24] tresf commented on #95
Implemented via #122.  This feature will be available in 1.9.5, which should be ready before the holidays after we run it through some rigorous testing.

[2015-12-10 02:37] tresf commented on #91
Documentation finished via https://github.com/qzind/qz-print/wiki/print-server.

Some Linux and Mac steps need to be added for cross-platform support, but the enhancement is completed.

[2015-12-10 02:38] #91 closed, assigned to nobody

[2015-12-10 12:33] dsanders11 commented on #91
Awesome!

[2015-12-14 15:29] tresf commented on #90
@klabarge make sure to reference this issue in the new bug report.  From my understanding, when the certificate is "blank", the software is blocking all anonymous requests but not updating the GUI.

[2015-12-20 22:56] tresf commented on #92
Closed via 8e10923

This feature will be available in 1.9.5, expected on or around December 23, 2015.

[2015-12-20 22:56] #92 closed, assigned to nobody

[2015-12-21 02:41] tresf commented on #83
This should now be fully supported by #91.  Closing as duplicate of #91.

[2015-12-21 02:41] #83 closed, assigned to nobody

[2015-12-21 03:26] tresf commented on #70
@klabarge FYI, I've tested this fully and Edge 25.10 defaults to allowing loopback connections by default (contrary to the default behavior in Edge 20).

![image](https://cloud.githubusercontent.com/assets/6345473/11922891/87495d0c-a769-11e5-962b-3fda0b228b49.png)

The good news is that this flag is still in the exact same location when set (it is no longer existent by default).

If for some reaso

[2015-12-28 17:56] andreialecu opened #126 "Suggestions for qz-tray.js 2.0"
I see some good progress in making qz-tray.js modern with promises and everything, however I have several suggestions:
- [x] **Drop jQuery requirement**

  Please drop the jquery requirement, it seems to only be used for `extends` and `parseJSON`. I do not need jquery (I'm using angular) in my project, and would like to not take it as a dependency.

  Here's a simple `extends` implementation:

[co

[2015-12-28 18:06] tresf commented on #126
@andreialecu Top notch.  We'll take a swing at this right away, thanks for the recommendations.

-Tres

[2015-12-28 18:25] andreialecu commented on #126
@tresf Awesome! :)

Also, another suggestion would be to publish the javascript file to `bower` and `npm` once released. Would help a lot with package management, and make installation much easier.

[2015-12-28 18:33] tresf opened #127 "Publish qz-tray.js to npm and bower"
This enhancement has been migrated to https://github.com/qzind/tray/issues/13.

---

Per https://github.com/qzind/qz-print/issues/126#issuecomment-167620965

More resources:
https://gist.github.com/coolaj86/1318304

...

@tresf For automating releases, one idea is to create a gulp file:
https://github.com/gulpjs/gulp/blob/master/docs/recipes/automate-release-workflow.md

Also look at:
https://gith

[2015-12-28 18:37] tresf commented on #126
@andreialecu added new issue #127.  We pair our JS with our Desktop App, so any feedback on that thread in regards to auto-versioning (to npm or bower) via GitHub would be a big help.  We're a very small shop, so anything that eliminates manual work is very valuable.  If you're interested in helping set this up, please contact me privately.

:smile: I also edited your original post so that it is i

[2015-12-28 18:53] akberenz commented on #126
We can remove JQuery, but I do want to state that the simple extends implementation provided will not work with our code, as we are using the deep-copy functionality provided by JQuery for sub-object properties (the reason why our own wasn't written).

[2015-12-28 19:02] andreialecu commented on #126
@tresf For automating releases, one idea is to create a gulp file:
https://github.com/gulpjs/gulp/blob/master/docs/recipes/automate-release-workflow.md

Also look at:
https://github.com/stevemao/conventional-github-releaser

The gulp file can also have a task to publish to bower/npm, but I think the proper way to handle this is to separate the client javascript file into its own separate repositor

[2015-12-28 19:25] tresf commented on #43
@bberenz can we revisit this bug for 2.0?  There's really no advantage in using RegEx in my opinion as programmers can do that client-side if they wish.

https://github.com/qzind/qz-print/blob/2.0/src/qz/printer/PrintServiceMatcher.java#L69:L129

[2015-12-28 19:28] tresf commented on #126
Bumped to other thread.  Thanks.

[2015-12-28 19:45] akberenz commented on #43
Can you clarify how you want `findPrinter` to work in that case?
It seems like you want the method to return a PrintService for exact matches on the name string, and partial matches will be handled client side only from searching the printer list.

[2015-12-29 18:55] akberenz commented on #49
I'm going to close this, because 2.0 uses promises around the security calls now, removing this concern.

[2015-12-29 18:55] #49 closed, assigned to nobody

[2015-12-30 22:26] #43 closed, assigned to nobody

[2015-12-30 22:27] #26 closed, assigned to nobody

[2015-12-31 01:30] tresf commented on #43
FYI, closed via https://github.com/qzind/qz-print/commit/5fc8e2a69666caad502bdb54bfff024da75e1313.

[2015-12-31 08:43] robert-gazsi opened #128 "2.0.0-alpha1 installer shortcut is wrong"
The installer is running without issues and the log shows no errors (windows 10).
However, the desktop app shortcut installed in start menu does not work, maybe It was left over from a previously installed version.
Also, the app was not started, and not present in systray.
I started it successfully if I manually launched the qz-tray.jar file.

[2015-12-31 08:46] robert-gazsi opened #129 "2.0.0-alpha1 pdf print scale issue"
Pdf content is printed at top left corner at about 5% of the whole page size.
See attached sample.
[test.pdf](https://github.com/qzind/qz-print/files/75456/test.pdf)

[2015-12-31 19:13] tresf commented on #129
@robert-gazsi is this with a physical printer or the Microsoft XPS/PDF document writer?  We're experiencing issues with print simulations using the Windows 10 XPS document writer, but we aren't having the same problems while doing print simulations 3rd party PDF writers.

Either way we'll fully investigate and report back. Thanks for the write-up.

[2015-12-31 20:35] akberenz commented on #102
I've made some adjustments to the docs, so all of the namespaces and functions available should show up now on the generated pages.
Not sure if you want the generated docs in this repo or not though.

[2015-12-31 20:59] tresf commented on #128
Thanks.  Closed via 858ba18.

Patched installer located here:
https://github.com/tresf/qz-print/releases/tag/2.0.0-alpha1

[2015-12-31 20:59] #128 closed, assigned to nobody

[2015-12-31 21:02] tresf commented on #102
Our goal is to create a trigger to publish them directly to the website.  Can you offer the method you're using to generate them, then we can start working on a deploy script.  (So no, not in the qz-print repo).

[2015-12-31 21:07] akberenz commented on #102
I have a separate NodeJS project folder with JSDoc installed, and run the command file provided there on the qz-tray javascript file. Not sure if there is a better alternative that fits how you want to handle this.

[2015-12-31 21:15] tresf commented on #102
We don't use Node on our web server currently, but we'd be happy to add it once we find a add a good ppa for it on our Ubuntu server.  Can you just paste the commands you're using to generate so we can replicate?  They may seem obvious, but it will save a few minutes on our end as well as ensure we're using the same commands.

[2015-12-31 21:24] akberenz commented on #102
JSDoc states it as `/path/to/jsdoc yourSourceCodeFile.js`
For me that's `...\IdeaProjects\extra\node_modules\.bin\jsdoc ...\IdeaProjects\qz-print\js\qz-tray.js`
And then the docs are created in an `out` folder at the current directory

[2016-01-01 11:48] robert-gazsi commented on #129
Yes, I have printed it physically on a HP LaserJet 1020, with same result.
Thanks for your prompt response.
Pe 31.12.2015 21:13, "Tres Finocchiaro" notifications@github.com a scris:

[2016-01-04 14:14] tresf commented on #94
This seems to be broken for Firefox on OSX.  Reopening.

[2016-01-04 14:32] akberenz commented on #129
What is the DPI setting of the printers you are using, and the DPI value you are passing to qz-tray?

[2016-01-04 14:48] akberenz commented on #87
HTML landscape printing is supported in 2.0

[2016-01-04 14:48] #87 closed, assigned to nobody

[2016-01-04 19:38] tresf commented on #94
Some more details about Firefox 43 + OS X 10.7:

**Edit:** Upstream bug report:  https://bugzilla.mozilla.org/show_bug.cgi?id=718422

Although Chrome and Safari work, Firefox seems to be pickier.
1. The behavior between `<a href="javascript:window.location("qz:launch");">...` and `<a href="qz:launch">` differs in Firefox on Mac which means we may need to change the code in `sample.html` to accommo

[2016-01-04 21:11] tresf commented on #126
@andreialecu FYI, 3 of 4 tasks have been completed.  I've edited the original post to reflect each commit respectively.  As always, feedback welcome.  Once we get the `module.exports` feature finished, we'll close this out.

[2016-01-04 22:30] andreialecu commented on #126
@tresf looks good, regarding `module.exports`, you can change the IIFE to something like this instead and it should work immediately:

[code]

[2016-01-05 03:17] tresf opened #130 ""Reload" button is broken"
In the 2.0 branch, the reload button throws an `ArrayIndexOutOfBoundsException`.

Log attached.

[code]

[2016-01-05 06:46] robert-gazsi commented on #129
My bad, I realized I have to change the "Density" property in the
Options section from 72 to 600 to match my printer dpi.
It would be helpful, in my opinion, to rename this property to Density
(DPI).
Thanks!

On 1/4/2016 4:32 PM, bberenz wrote:

[2016-01-05 09:33] haithem-rihane commented on #87
Thx guys great job !!!

[2016-01-05 14:57] akberenz commented on #130
Fixed via 987ce73075e64ae7cb3b499379a208001db1248b

[2016-01-05 14:57] #130 closed, assigned to nobody

[2016-01-05 21:42] tresf opened #131 "Printer not found on OS X"
There'a  bug with the printer Class Name on OSX where the class name can prevent the printer from being found.

I'm almost certain this is a mac-only bug and it seems to have surfaced with OS X 10.11 El Capitan.

@klabarge can you please reproduce on 10.11 and update the documentation here:

https://qz.io/wiki/setting-up-a-raw-printer-in-osx#adding-a-printer-class

We currently state that the Clas

[2016-01-06 04:38] tresf commented on #129
Agreed... @bberenz I started a commit which adds `DPI`, `mm/in` etc to `pxlDensity` label, however it started getting more complicated than I had anticipated, as the 72dpi would need to be translated on click, which started getting messy.  Which leads me to my next question...

@bberenz The [Java source](https://github.com/qzind/qz-print/blob/2.0/src/qz/printer/PrintOptions.java#L220) and [jsDocs]

[2016-01-06 05:55] klabarge commented on #131
1. The statement that the **Class Name** cannot match the **Printer Name** is correct.  CUPS does not allow you to create a **Class Name** that already exists as a **Printer Name**.

   ![image](https://cloud.githubusercontent.com/assets/12505463/12135459/f1af1054-b409-11e5-8177-c4f13d8ae958.png)
2. In my testing I used the following information:

   **Printer Name:** printer_name
   **Printer Des

[2016-01-07 03:12] tresf opened #132 "Windows Installer Ignores /D Parameter"
NSIS offers a command line parameter `/D=C:\Foo` and our installer ignores it.

This means our documentation is broken as the [Unattended Deployment](https://github.com/qzind/qz-print/wiki/Deployment) steps claim the directory can be overridden via `/D=C:\Foo`, but this is not honored in our version of the installer.

According to [this article](http://stackoverflow.com/questions/14272992/how-can-

[2016-01-07 05:51] tresf commented on #94
I think I figured out a fix.  Ready to test via dd5956e.

[2016-01-07 19:42] tresf commented on #94
Works so as long as preference `network.protocol-handler.expose.qz` is set to `false`, but only for physical `qz:launch` links, not for `window.location.assign("qz:launch");` (how we recommend launching it).

Mike's offered to write a protocol handler... I think this is quite overkill, but I don't think we have an option at this point if we want our "Launch QZ Tray" button to work.

[2016-01-08 04:19] tresf opened #133 "Persistent USB Dialogs"
The USB alert dialogs have a lot of info on them, but the default window timeout is too quick to grab the necessary information for device iteration.

I think making these alert dialogs persistent (user would have to close them manually) would make them much easier to use for grabbing device information.

![image](https://cloud.githubusercontent.com/assets/6345473/12190293/e2dac802-b594-11e5-87ad-

[2016-01-08 04:41] tresf opened #134 "Invalid Vendor/Product ID throws NPE"
QZ Tray throws a NullPointerException when an invalid Vendor ID or invalid Product ID is specified.

Steps to reproduce:
1. Load sample.html
2. Click USB tab
3. Click List Devices
4. Pick a USB device by Vendor ID and Product ID
5. Fill in "Vendor ID" and "Product ID" with known-good values
6. Click "List Device Interfaces"
7. Observe correct functionality
8. Change "Vendor  ID" or "Product ID" to

[2016-01-08 20:47] Vzor- commented on #132
I'm on this one.

[2016-01-08 21:02] tresf commented on #102
I've started this...

Ubuntu 12.04 has a very old version of Node which first must be uninstalled.

[code]

Cron script is completed and will be uploaded momentarily.

[2016-01-08 21:17] tresf commented on #102
Closed via https://qz.io/api/.  This will update nightly.

[2016-01-08 21:17] #102 closed, assigned to nobody

[2016-01-08 21:36] tresf commented on #132
:+1:

[2016-01-11 03:08] klabarge commented on #131
The only printer attached to the system was `Apple`.

### CUPS Printer
- **Printer Name:** Apple
- **Printer Description:** Banana

### CUPS Class
- **Class Name:** Cat
- **Class Description:** Dog

### Testing
1. List All Printers via `qz.findPrinters()`

   When these fields are all different, the printer name (Apple) and the class name (Cat) both show using "List All Printers"

   ![image](http

[2016-01-11 18:40] jmb-oliveira opened #135 "CPU usage growing up 25% on each serial port open"
Hello,

I'm testing qzTray with a Serial Port Printer and having problems with CPU usage growing up by 25% on each Port Open action.

I'm having this issue on many windows 7 64-bits machine and Qz Tray 1.9.5, and i'm testing on live official demo https://demo.qz.io

If I "Open Port", "Send Port Cmd", "Close Port" and "Open Port" again, the CPU usage grows 25%.
The real problem's even when I close

[2016-01-12 12:43] kamaldeepoodles opened #136 "How to print Blob or uint8Array data ?"
Hi, I am using [jsPDF](https://github.com/MrRio/jsPDF) to generate PDF. Now this plugin generates **Blob** or **uint8Array** data. Is there any way to print this kind of PDF data ?

[2016-01-12 15:29] tresf commented on #136
This should be possible by appending the data in base64 format as described here:
https://github.com/qzind/qz-print/wiki/PostScript-Printing#base64-pdf-printing

In JavaScript because the `atob` function doesn't deal with non-Latin1 characters, so you'll instead need to leverage a custom base64 conversion as explained here:
https://coolaj86.com/articles/typedarray-buffer-to-base64-in-javascript/

[2016-01-12 16:55] tresf commented on #131
This mismatches the screenshot you've provided.

If we're 100% sure of this, we should update our wiki to reflect this, then we can close out this issue... however... AFAIK, the `Printer Name` has certain hard restrictions (i.e. cannot contain spaces) so this gives the ability for one to be more verbose than the other.  We may want to make mention of that as well.  Also, please link this bug repor

[2016-01-12 17:25] akberenz commented on #134
Closed with 05446a79ff24cea8ddbf6d486c578ec6a68a6165

[2016-01-12 17:25] #134 closed, assigned to akberenz

[2016-01-12 17:26] akberenz commented on #133
Closed with 05446a79ff24cea8ddbf6d486c578ec6a68a6165

[2016-01-12 17:26] #133 closed, assigned to akberenz

[2016-01-12 17:50] akberenz commented on #126
`module.exports` should be available via de5af2306f60b2fc2c3c7c5696a6586414f9a525
@andreialecu can you verify everything works as expected before we close the ticket?

[2016-01-12 19:34] tresf commented on #135
Confirmed using [`com0com`](https://powersdr-iq.googlecode.com/files/setup_com0com_W7_x64_signed.exe) emulator with `QZ Tray 1.9.5` and Windows 10 x64.

In my tests, the "Send Port Cmd" was not needed in order to reproduce the high CPU utilization.

Note, this bug is **NOT** reproducible on the 2.0 branch.

Assigning @Vzor-

[2016-01-12 21:46] tresf opened #137 "Support for relative file paths"
Investigate the possibility of supporting relative file paths in 2.0

[code]

Currently, data must be a full path requiring all of our code examples to use a `getPath()` function which our clients won't necessarily have.

[2016-01-13 02:55] tresf commented on #137
@bberenz I found a painfully simply way to resolve URLs... It constructs an `<a href="..."/>` tag with the specified URL and reads the value right back out.  It works with IE7 and higher.

I've also placed in a small portion of browser-detection, not sure if it's warranted.

Question... how can we assume when a URL is being supplied to the data element?  Can we determine that in js, or is the logi

[2016-01-13 05:07] tresf commented on #126
I've documented `Q` and `Bluebird` overrides here: https://github.com/qzind/qz-print/wiki/2.0-Override-RSVP

Please notify me of any corrections.

[2016-01-13 05:49] kamaldeepoodles commented on #136
Sorry some how this didn't worked for me. I end up first saving the file and then loading the file using the following Nodejs code.

[code]

[2016-01-13 06:03] tresf commented on #136
If you're using Node and already have the data in a buffer, you may be able to just use a 3rd party library for converting a byte buffer to base64:

Native Node:
https://nodejs.org/api/buffer.html

Or via 3rd party:
https://www.npmjs.com/package/base64-arraybuffer

[2016-01-13 09:16] kamaldeepoodles commented on #136
Ok Thanks for your kind support.

[2016-01-13 14:48] tresf commented on #136
@kamaldeepoodles I'm closing this out as invalid, since it's not a bug.  Please feel free to continue using this for questions or concerns.

[2016-01-13 15:43] jmb-oliveira commented on #135
**NOT** reproducible on the 2.0 branch and windows 7 x64 too

[2016-01-13 16:51] akberenz commented on #137
The logic for that check is all Java-side, unless they specify the type as _file_.
Would it be enough to just provide that method as part of QZ?

[2016-01-13 17:55] #136 closed, assigned to nobody

[2016-01-14 01:54] klabarge commented on #131
You are right, I have updated my post.

I updated the wiki documentation under [Step 8](https://qz.io/wiki/Setting-Up-A-Raw-Printer-in-OSX#for-network-printers) for creating the printer and under [Step 2](https://qz.io/wiki/Setting-Up-A-Raw-Printer-in-OSX#adding-a-printer-class) for creating the printer class.

**Edit:** Also added to Getting Started guide via https://qz.io/wiki/2.0-Getting-Starte

[2016-01-14 16:40] akberenz commented on #137
Implemented via 52ef9f550f1280693a5e45af96f20d0a6572389e

[2016-01-14 16:40] #137 closed, assigned to akberenz

[2016-01-15 06:39] tresf opened #138 "Applet can't read weight from scale"
1.9 branch only
1. Go into Java Control panel and enable full stack trace and console.
2. Attach a Mettler Toledo scale via serial port
3. If QZ Tray is running, close it so that we can fallback on the Applet
4. Go to https://demo.qz.io using a browser still capable of running Java (Firefox, IE)
5. When loaded, click "List All Ports" in the serial portion of the demo
6. Ensure the COM port selecte

[2016-01-15 07:07] #138 closed, assigned to nobody

[2016-01-17 19:17] tresf opened #139 "setCertificatePromise bypass"
@bberenz thoughts appreciated here...

Currently with the `2.0` branch, the recommended method for setting the certificate is as follows:

[code]

However, this certificate step can be bypassed completely by commenting out this block, and there's no sign to the user that the certificate wasn't provided.

[code]

![image](https://cloud.githubusercontent.com/assets/6345473/12379264/b9ead382-bd24-11e

[2016-01-18 04:15] tresf opened #140 "Uninstaller for Linux"
This bug report has been migrated to https://github.com/qzind/tray/issues/5.

---

Placeholder to add a QZ Tray uninstaller for Linux.  Here's Apple's, as an example:

https://github.com/qzind/qz-print/blob/2.0/ant/apple/apple-uninstall.sh.in

[2016-01-18 04:21] tresf commented on #126
Closing via 037d1d8, 4a26d85, de5af23, cd88efc.  Please open a new issue if you encounter any problems with the above implementations.

[2016-01-18 04:21] #126 closed, assigned to nobody

[2016-01-18 14:31] tresf opened #141 "Base64 PDF Bug"
@bberenz since we're moving away from the `data:application/pdf;base64,JVBERi0xLjMKJcfsj6...==` syntax, I think now we're missing the `base64` functionality...

[code]

Throws:

[code]

My instinct is we'll need to add something like this to [`PrintPDF.java`](https://github.com/qzind/qz-print/blob/2.0/src/qz/printer/action/PrintPDF.java#L43):

[code]

[2016-01-18 20:51] akberenz commented on #141
Fixed via 9e3942a15f55cb7a2ac85f061798c7a23b1a8cd0

[2016-01-18 20:51] #141 closed, assigned to nobody

[2016-01-18 20:53] akberenz commented on #139
Fixed via eafcd9d4f8b2decc7b3e2c5966e3a42e1c969d95

[2016-01-18 20:53] #139 closed, assigned to akberenz

[2016-01-20 04:07] #94 closed, assigned to nobody

[2016-01-21 07:11] tresf opened #143 "Small margin when printing HTML"
When printing a full-page HTML document using the HTML printing feature in 2.0, there is a small margin on the right hand side which should not occur.

When reviewing the trace logs (at very bottom of bug report), the width seems to be calculated improperly (594 vs. 650) whereas the height appears to match between image/paper (842)

![image](https://cloud.githubusercontent.com/assets/6345473/12473

[2016-01-21 16:50] akberenz commented on #143
Page was still printing as Letter even though page size was set to A4.
Fixed via d82ffe0ab1db4ae2cb2a970c49af84711f3a5d6a

[2016-01-21 16:50] #143 closed, assigned to akberenz

[2016-01-24 03:33] tresf opened #145 "HTML Changing Page Size"
HTML sizing is inconsistent in my tests on the latest 2.0 branch and I'm getting intermittent page size issues.  This is reproducible on JDK7 and JDK8.

Steps to reproduce:
1. Stop QZ Tray (this step is important)
2. Using sample.html, print a known full-page HTML sample, i.e. the one provided in https://github.com/qzind/qz-print/issues/143.
3. Save the output from step 2 and reproduce.
4. Observe

[2016-01-24 03:59] tresf opened #146 "Cleanup 1.9 resources on install"
The 2.0 installer leaves quite a bit of 1.9 `js`, and `assets` around.  We should consider removing those assets we've created that are no longer needed in 2.0.

[2016-01-25 03:42] #132 closed, assigned to nobody

[2016-01-25 04:33] tresf opened #147 "Jetty defaults to non-UTF8 on Windows"
Some interesting behavior...
1. Start QZ Tray from [IntelliJ](https://github.com/qzind/qz-print/wiki/Compiling#intellij), signing works.
2. Start QZ Tray from installer, signing does not work.

**Steps to reproduce**
1. Create a raw message using the 2.0 branch where the data contents contain unicode. e.g.

[code]
2. Configure signing (in my case, I configured for POST).
3. Start QZ Tray from the

[2016-01-26 16:19] tresf opened #148 "Open Log Location Broken on Mac"
`2.0` branch.
Possibly related: #35, specifically [here](https://github.com/qzind/qz-print/commit/4c1a2685618940b98d055febf622db30b6e81da1#diff-a953e83b62c6bf3017ac9df374ffb42dR249).

[2016-01-26 16:44] akberenz commented on #147
On working with a similar issue caused by plus signs, I came upon a lot of references stating it was common to hash a message before signing it. This will give us a fixed length and prevent issues with special characters.
Implemented in aa71578b6de26952145405ba44d0734903d817e7, we hash it with sha-256 browser side before sending to the signing server, and then again on the QZ software for verifyin

[2016-01-26 16:48] akberenz commented on #147
If you can verify that this encoding problem doesn't affect anything else, we can close this issue.

[2016-01-26 17:08] akberenz commented on #145
I can't seem to reproduce this. Could you attach your trace logs from one of these attempts?

[2016-01-26 18:45] tresf commented on #147
Are we sure this is the correct approach?

If data is making it incorrectly into the WebSocket, that is a problem.  Fixing the signature is a bandaid to the underlying problem, no?

@robertcasto opinions welcome here.

[2016-01-26 18:52] tresf commented on #147
P.S. I do like the idea of sending less data to the server.

[2016-01-26 18:56] akberenz commented on #147
I agree, I've added (not yet pushed) an explicit call to UTF-8 on string<->byte conversions, which was likely the issue with signing. But I haven't seen this as an issue elsewhere, ie printing an image called `image_€.png` works just fine. Without knowing what else is affected (if anything), I cannot fix it properly.

[2016-01-26 19:18] tresf opened #149 "Pixel-Accurate (Low-Res) Printing"
A picture does plenty to explain this...

![image](https://cloud.githubusercontent.com/assets/6345473/12591750/5d663984-c437-11e5-8e8a-2be4ea97b838.png)

How to yield high pixel accuracy in a situation like this?  `2.0` branch.

The picture is tiny.  Below is actual size.

![image](https://cloud.githubusercontent.com/assets/6345473/12591809/a8003026-c437-11e5-9d65-b8d78ffc50c8.png)

[2016-01-26 19:34] tresf commented on #147
That sounds fishy.  This all was through the desktop, not the IDE?

[2016-01-26 19:38] tresf commented on #147
Also, another concern of mine is the byte length for each character.  Can we definitively say that `CP1252`, `ISO-8859-1`, or whatever's being defaulted here can hold every UTF8 character we can throw at it?

[2016-01-26 20:12] tresf commented on #147
We're already rolling our own stringify (albeit for Prototype compat) Perhaps this... http://stackoverflow.com/a/4901205/3196753

[2016-01-26 21:06] tresf commented on #148
Closed via 101e147.

@klabarge can you please test on all three platforms?  `2.0` branch only, please. ;)

[2016-01-26 21:06] #148 closed, assigned to nobody

[2016-01-27 16:55] akberenz commented on #149
NearestNeighbor interpolation! And since bicubic (the current value) can also be desired, I've made it a config option, via 98ee07fe2a6de2e31bf1e40685c6fdf10989c497.

[2016-01-27 16:55] #149 closed, assigned to akberenz

[2016-01-28 03:38] tresf commented on #149
Thanks.  I agree that default should be `bicubic` as it's generally more desirable at high resolutions. :+1:

**Edit:** Added documentation via https://github.com/qzind/qz-print/wiki/2.0-Pixel-Printing#image-interpolation.

[2016-01-28 20:57] tresf commented on #145
I feel like I'm testing a moving target here... Can't reproduce but it's not scaling now.

![image](https://cloud.githubusercontent.com/assets/6345473/12658580/dc839a1c-c5d7-11e5-8480-73ee94861c31.png)

[code]

[2016-01-29 02:08] klabarge opened #150 "2.0.0-alpha5 Signing Breaking"
QZ Tray Version: 2.0.0-alpha5

I'm currently using a POST method which worked in the alpha4 version.
**EDIT:** Using POST and GET have the same results

[code]

After installing the alpha5 version and adding in the new dependency: `sha-256.min.js` signing breaks on some, but not all of the functions reproducible in the `sample.html`

Even when signing breaks, the warning dialogue matches the name

[2016-01-30 23:02] klabarge commented on #148
"Open log location" worked on all three platforms.
- Windows 10 :white_check_mark:
- Ubuntu 14.04 :white_check_mark:
- OS X 10.11 :white_check_mark:

[2016-01-31 07:06] nhouse opened #151 "Remove QZ Tray startup and exit popups"
When QZ Tray is started a popup is shown saying something like "QZ Tray started on ports xxx and xxx." The popup must be manually closed by clicking the OK button. This popup is unnecessary and annoying. If there is an error starting, then by all means show an error, but the popup being shown when startup is successful is pointless.

When closing QZ Tray by clicking on the icon in the system tray

[2016-01-31 14:06] tresf commented on #151
Related #92.
The startup message is used to notify of successful startup and which ports are actively being used.  I agree that some of this information this has limited use to a non-developer, however each platform has different ways of showing this Tray Icon, and its "annoyance" factor differs between platforms.

Are you by chance using a Mac?  Mac's notification system didn't exist when Java wr

[2016-01-31 15:24] tresf commented on #150
@bberenz please let us know if you need any further details on this.

[2016-01-31 18:48] ocaloke commented on #151
If we cannot mimic the same behavior on the Mac (auto-hide the display after a timeout)  then we should hide it on the Mac. Same thing for the exit pop-up.

[2016-01-31 19:47] tresf commented on #151
@ordercup,

Thanks for the Mac feedback, although for clarification's sake, I'd like the the O.P. to confirm his platform, which will put his request in better context.

The exit pop-up is not related to the notification center.  It is a separate request with a separate fix and should be discussed separately.

[2016-01-31 22:23] klabarge opened #152 "Unable to change image size"
Tested on Windows 10, QZ Tray 2.0 alpha-5

I was unable to change the size of an image (base64) by adjusting the width and height values.

Changing the units between `mm` and `in` did result in different sizes, but the height and width values seemed to be ignored.

Here is the configuration I was using:

[code]

[2016-02-01 15:05] akberenz commented on #150
Looks like I had changed it to be a bit overzealous with unescaping.
Fixed via 200eac73981ead85f8ff57deb2685fc4d6bbf9b6

[2016-02-01 15:05] #150 closed, assigned to akberenz

[2016-02-01 16:43] tresf commented on #150
@bberenz :+1:

@klabarge Can you please confirm?  You'll have to build from `2.0` source.

[2016-02-01 16:59] akberenz commented on #152
Just to be clear, width and height affect the page size, not image sizes.
I've had to make some changes, but it should work out that the print job will find the closest valid page size (available to that printer) to what you want to print and then the drawable area will be set to the specified size, cutting off anything drawn outside that range.

[2016-02-01 17:04] tresf opened #154 "USB "Poll" option"
@bberenz is there a way we can fetch only the latest message frame so that the scale reads are always the **current** scale status?

I like the streaming functionality you've entered, and I don't disagree with the behavior of read-data, since it gives us exactly as the OS would, but the buffered values are causing some issues with clients.  Can we dump the buffer and only get the latest message?

[2016-02-01 17:29] akberenz commented on #154
Not easily. Currently the best way to do this would probably be to open a stream, and then just call read data as needed.
It could be possible for us to read up the buffer and return the last non-empty message in a single call. But I am not sure how well this would work (if at all) on a continuous stream like a scale.

[2016-02-02 03:46] klabarge opened #155 "PDF printing crashes QZ Tray 2.0 on OSX"
Tested in OSX 10.7 and 10.11 using Chrome

When trying to print a PDF, either through a file or base64, QZ Tray crashes and does not print anything.

This is reproducible using the `sample.html` page that ships with the software.
- Find a printer and then click "Print PDF"
  After a few seconds, this dialogue shows up on the screen:

  ![image](https://cloud.githubusercontent.com/assets/12505463/1

[2016-02-02 04:21] tresf commented on #155
Upstream bug reports:
https://issues.apache.org/jira/browse/PDFBOX-2682
http://stackoverflow.com/questions/28471579/pdfbox-on-mac-critical-error-when-silent-printing
https://bugs.openjdk.java.net/browse/JDK-8042693
https://bugs.openjdk.java.net/browse/JDK-8038142

Noticed from this stacktrace an unrelated issue `bad substitution`, which is now patched via 5c572f4

[2016-02-02 05:53] tresf opened #156 "PDFs not scaling on Mac"
In an attempt to workaround #155, I rendered a PDF at `300dpi`, but it won't scale to the page.  This seems to work fine on Windows (XPS, PDFCreator) and Linux

:no_entry: Apple OS X 10.7 (CUPS):
![image](https://cloud.githubusercontent.com/assets/6345473/12740874/99055d4a-c945-11e5-823d-909353710e08.png)

:white_check_mark: Windows 10:
![image](https://cloud.githubusercontent.com/assets/6345473/1

[2016-02-03 05:48] klabarge commented on #152
Thanks for the clarification on the size option.  After your change, I can now see the page size being increased or decreased as I adjust the width and height values.

A client reported that unexpected boundaries are created with the size option. One thing I have noticed is that changing one of these values, for example height, also affects the width.
1. The image below shows the difference in the

[2016-02-03 05:57] tresf opened #157 "Open Stream for USB Scale"
The `Open Stream` button either does not seem to work out of the box with the Mettler Toledo scale, or the sample.html file is broken.

The sample.html gets stuck on `Waiting on device`.

Steps:
1. Claim device: vendor: `0x0EB8`, product: `0xF000`, device: `0x00`, endpoint: `0x81`
2. Click `Open Stream`
3. Observe `Waiting on device` message.

![image](https://cloud.githubusercontent.com/assets/63

[2016-02-03 06:22] tresf opened #158 "Release Claimed USB Device on Socket Disconnect"
If a device is not released before navigating away from a page, the message `Error: USB Device [v: ..., p:...] is already claimed` appears.

The only way to get the device claimed again is to close and restart QZ Tray (the Reload option in QZ Tray doesn't fix it)

![image](https://cloud.githubusercontent.com/assets/6345473/12774572/38b112ac-ca14-11e5-8e7b-63de83916b0a.png)

[2016-02-03 14:33] akberenz commented on #157
Have you tried closing and re-opening the stream?
And since I do not have this usb device, could you send me the QZ logs, and check if there are any errors in the browser's console?

[2016-02-03 14:40] akberenz commented on #158
If this message shows up then QZ has an object in place for that device. You could actually 'Release Device' and re-'Claim Device' if necessary, but if you see that message, the data buttons should already work without having to claim after page load.

[2016-02-03 18:03] tresf commented on #157
Yes.  It closes fine and opens fine.  I went back and added steps to reproduce.  Please let me know if I'm doing something wrong.

There were none, which is why I mentioned a possible bug with sample.html.  As I understand it, the Dymo should behave the same.  Can you confirm there are no issues with the Dymo?  If not, I'd be happy to place the software in debug, but it won't be until much later i

[2016-02-03 18:05] akberenz commented on #157
I can confirm the dymo does not have this issue.

[2016-02-03 18:08] tresf commented on #158
I tried this.  It knows enough to say it's claimed, but not enough to let me release it.  It should be released on websocket close.  If there's something I'm doing wrong please let me know.

The only way to fix this is to restart the entire QZ Tray application.  This should be very easy to reproduce.  Let me know if you need some more information to reproduce.

FYI/- I only tested this on Windows

[2016-02-03 20:05] Vzor- commented on #155
I'm going to see if I can find a workaround for now.

[2016-02-04 02:49] tresf commented on #157
This is the console log from the browser:

[code]

This is the console log from the IDE:

[code]

I don't see any useful information, but that is the entirety of the information I have.

Can you please send me the steps you used and the output you received?  I may just be using the feature incorrectly.

[2016-02-04 02:57] tresf commented on #145
Here are the trace logs, `default` density.

[code]

Here are the trace logs `300` density.

[code]

[2016-02-04 03:58] tresf commented on #145
Closed via c7acaac.

[2016-02-04 03:58] #145 closed, assigned to akberenz

[2016-02-04 04:10] #129 closed, assigned to nobody

[2016-02-04 04:37] tresf commented on #155
So setting a `dpi` does circumvent this now per c7acaac.  @Vzor- if you find a way to fix the threading issue without forcing a dpi, that is still ideal, so I'll leave this open for investigation.

[2016-02-04 04:38] tresf commented on #156
Closed via c7acaac.

![image](https://cloud.githubusercontent.com/assets/6345473/12805942/28e185f8-cacf-11e5-805f-2dd28fefd49a.png)

[2016-02-04 17:08] akberenz commented on #157
Fixed with 1dccc5dc160136f35f555539ff19decb77488dc8

[2016-02-04 17:09] akberenz commented on #158
Implemented via 1dccc5dc160136f35f555539ff19decb77488dc8

[2016-02-04 17:09] #158 closed, assigned to nobody

[2016-02-04 17:16] akberenz commented on #152
Some further changes have been made to finding the page size, so it should be a bit more stable now.
Scaling content is set to true by default, so unless you set `scaleContent` to _false_, it will scale your image to the closest edge.
The size value is expecting standard paper sizes, so if you wish to print to the wider edge, you'll have to set `orientation` to _landscape_.

[2016-02-04 19:41] tresf opened #159 "launchQZ() should trigger a reconnect"
In `1.9`, `launchQZ()` fires the page to re-establish a websocket connection.

`2.0` must have this logic added as well.

[2016-02-05 04:54] tresf opened #160 "setJobName() option for 2.0"
1.9 and family had an option `setJobName` which allowed the spooled file that shows up in the Printer queue to have the name specified.

2.0 has removed this option, but some people are using this to specify the name of a file (for reprints, etc).

This is a placeholder to add back an option to set the document's spooled name when observed in the printer queue.

[2016-02-05 05:04] klabarge opened #161 "Density not specified vs. density null"
There is a discrepancy between setting the `density` to _null_ and not specifiying the `density`
1. When setting `density` to _null_ the image looks like this:

   ![image](https://cloud.githubusercontent.com/assets/12505463/12838367/50ef5616-cb9b-11e5-8dab-8970790c07db.png)
2. When the `density` is not declared, the image looks like this:

   ![image](https://cloud.githubusercontent.com/assets/12

[2016-02-05 05:48] klabarge commented on #152
Thanks Brett, landscape was what we were looking for :+1:  Another question...

Do we support fractions for the density?  We were trying to use a fraction when using MM and it didn't seem to make a difference.

[2016-02-05 14:39] akberenz commented on #152
The printer resolution attribute requires integers, so no we don't.

[2016-02-05 14:47] akberenz commented on #161
Fixed via b6b2a06f5b9b8825dd3762d81c1038c421065244

[2016-02-05 15:06] tresf commented on #152
That's a bug then, since `72` dpi is `2.834645669291` dots/mm, and we can't specify decimals. **Edit:** (or we remove the dots per mm altogether?). We noticed this when trying to get an image to scale properly to a custom label size (one we defined).  We kept tweaking the density, but the precision wasn't fine enough to get it scaled exactly.  It was always either too small or two large (by a few

[2016-02-05 15:09] tresf commented on #152
**Edit:**  (or we remove the dots per mm altogether). We noticed this when trying to get an image to scale properly to a custom label size (one we defined).  We kept tweaking the density, but the precision wasn't fine enough to get it scaled exactly.

[2016-02-05 15:30] akberenz commented on #152
Looking into the code around density more, we do convert the value to dpi first, so I've changed it to accept decimals (43cef2e3ac71b4f8f9ae286309f26667d49352af). But this will only be of use to dpcm and dpmm, since it will still end up as an integer in dpi form.

[2016-02-05 16:35] tresf commented on #159
Closed via 7bdba0a

[2016-02-05 16:35] #159 closed, assigned to nobody

[2016-02-05 16:41] tresf opened #162 "Add documentation to wiki for pre-signing"
This bug has been migrated to https://github.com/qzind/tray/issues/9

---

Explanation of the signing concern...

This is available in 2.0 now.  Here's an explanation of how the feature works works...

[code]

[2016-02-05 19:17] tresf commented on #147
Related #150.

Closing per user feedback, testing and via aa71578, 200eac7.

[2016-02-05 19:17] #147 closed, assigned to akberenz

[2016-02-05 20:33] klabarge commented on #152
I tested this out and decimals are working :+1:

[2016-02-05 21:07] tresf commented on #160
Closed via 3ef076b.

Documented here:
- https://qz.io/wiki/2.0-pixel-printing#custom-job-name
- https://qz.io/wiki/2.0-raw-printing#custom-job-name

[2016-02-05 21:07] #160 closed, assigned to nobody

[2016-02-07 01:48] #135 closed, assigned to nobody

[2016-02-07 01:49] tresf commented on #135
This fix will be available in 1.9.6.

[2016-02-07 18:52] jkatsiotis opened #164 "Custom trusted root certificates"
Hi,

Is there a guide somewhere on how to use custom trusted root certificates in 1.9 since it's now supported?

Thanks,
John

[2016-02-07 18:58] tresf commented on #164
@djsolid,

This particular step is identical between `1.9` and `2.0` and tucked away in the new tutorials here:

https://qz.io/wiki/2.0-signing-messages#prerequisites

[2016-02-07 18:58] #164 closed, assigned to nobody

[2016-02-08 11:07] robert-gazsi opened #165 "Alpha 2.0 not working on Edge browser"
Hi, this is the error I get in console:

[code]

Edge version is 25, I turned off antivirus.
It works ok on IE11 and Chrome.

Thanks.

[2016-02-08 11:20] robert-gazsi opened #166 "Alpha 2.0 Windows 10 installers issue"
Hi,

For some reason, only the first release installer works:
[https://github.com/tresf/qz-print/releases/download/2.0.0-alpha1/qz-tray-2.0.0-alpha1-1.exe](https://github.com/tresf/qz-print/releases/download/2.0.0-alpha1/qz-tray-2.0.0-alpha1-1.exe)

All other newer ones (up to 6 at this moment) are downloading ok but are not starting.
I have Windows 10, and tried with AV off as well.

Thanks.

[2016-02-08 11:23] robert-gazsi commented on #165
I have the "Allow localhost loopback" setting on in about:flags.
I was testing with v2.0 alpha-1 release.
I could not install newer ones, please see #166

[2016-02-08 14:18] tresf commented on #166
A quick google search turns up this.... https://github.com/crossbario/autobahn-js/issues/134#issuecomment-87073222.

Which was implemented on 1.9 via https://github.com/qzind/qz-print/commit/d254333f6ace6fb5f792e0608adbe09e040766db, but never ported to 2.0 apparently.

Thanks, we'll take a look.

[2016-02-08 14:52] tresf commented on #165
A quick google search turns up this.... https://github.com/crossbario/autobahn-js/issues/134#issuecomment-87073222.

Which was implemented on 1.9 via https://github.com/qzind/qz-print/commit/d254333f6ace6fb5f792e0608adbe09e040766db, but never ported to 2.0 apparently.

Thanks, we'll take a look.

[2016-02-08 14:53] tresf commented on #166
Sorry, I had replied to the wrong bug report.

We can't reproduce this.... Can you please post the output of your installer log for alpha6?

[2016-02-08 15:38] tresf opened #167 "Better websocket debugging"
@bberenz While troubleshooting #165, I'm finding the `qz.DEBUG = true;` to have limited benefit debugging websocket connection issues.

Furthermore, there seems to be no public method available for setting `trace` debug logs without editing `qz-tray.js`.

Perhaps...

[code]

As well as something like...

[code]

[2016-02-08 16:02] tresf commented on #165
@robert-gazsi Implemented `0.0.0.0` via e4bd2b7, but it's still broken.

After some testing, this appears to be suffering the same bug as #67.  Edge is blocking connections back to localhost because of the Internet Explorer security settings.

I'm not sure when this started (Edge 25 perhaps?) but selecting "Allow localhost loopback" doesn't seem to be enough to get this working.  In addition to th

[2016-02-08 16:21] tresf commented on #165
Some more findings via https://confidentialfiles.wordpress.com/2013/09/05/internet-explorer-11-cannot-connect-to-local-host/.

There's a codeplex project which has a way of whitelisting the loopback connection here: http://loopback.codeplex.com/

![image](https://cloud.githubusercontent.com/assets/6345473/12891424/e44faac0-ce55-11e5-9781-9ccc5580af57.png)

For some reason the `/121` App Name works

[2016-02-08 16:37] tresf commented on #165
Ok... we're getting closer... :smile:

http://stackoverflow.com/a/29177786/3196753

[2016-02-08 16:42] tresf commented on #165
Got it...

[code]

We'll add this to our `1.9` and `2.0` installers asap.

**Edit:**
- 1.9 available here: https://github.com/qzind/qz-print/releases/tag/v1.9.6
- 2.0 (will be) available here: https://github.com/tresf/qz-print/releases/tag/v2.0.0-RC1

[2016-02-08 18:20] #131 closed, assigned to klabarge

[2016-02-08 18:22] tresf commented on #44
This is live on the `2.0` branch.  Closing.

[2016-02-08 19:35] #165 closed, assigned to nobody

[2016-02-09 04:23] tresf opened #168 "Remove proprietary license"
For compatibility with some contracts, QZ Print / QZ Tray was written with a `QZ Industries Source Code Licence` which allowed proprietary usage of the codebase.

This proprietary license was granted on a per-request basis, but it is difficult to maintain, not available publicly and it is no longer available for purchase on our website.  Furthermore, any proprietary source header can discourage co

[2016-02-09 04:24] tresf commented on #168
Closed via 5ccf2d4.

[2016-02-09 04:24] #168 closed, assigned to nobody

[2016-02-09 14:09] tresf commented on #166
@robert-gazsi can you try the latest RC1 installer here?  https://github.com/qzind/qz-print/releases/tag/2.0.0-RC1

Note, nothing significant has changed in this version, but unless we can reproduce a problem with the installer, we'll have to close this as invalid.

[2016-02-09 14:38] robert-gazsi commented on #166
Where can I get that log file?

[2016-02-09 14:41] tresf commented on #166
Assuming you're installing on Windows, it will be in the installer window when "Show details" is pressed.

![image](https://cloud.githubusercontent.com/assets/6345473/12919251/40f95210-cf11-11e5-9c3c-130144bb075e.png)

[2016-02-09 14:43] tresf commented on #166
Note, if you've recently upgraded Java, a botched Java install can render the installer useless, which is usually fixed by 1. Rebooting and then 2. Reinstalling the 32-bit and 64-bit versions from the [offline installers](https://java.com/en/download/manual.jsp).

[2016-02-09 14:44] robert-gazsi commented on #166
I don't get to this window, only the allow to run warning box :(

[2016-02-09 14:46] tresf commented on #166
Are you on a solid state hard drive?  I would recommend forcing a scandisk and a reboot.  The installer should at least greet you with the "Next" screen.  Your issue is symptomatic of something interrupting the executable, often caused by a corrupt in-memory system process (or a virus, a blocking antivirus, bad HD sectors, or not rebooting after a Windows Update, etc).  In all of the scenarios, I

[2016-02-09 14:55] robert-gazsi commented on #166
A reboot actually got it solved!
It was Symantec AV, even though I disabled it...

Thanks a lot!

[2016-02-09 14:55] #166 closed, assigned to nobody

[2016-02-09 15:01] tresf commented on #166
:+1:

[2016-02-09 15:45] akberenz commented on #167
There's some more debug statements added in df266a939fff6c76318de57b768e9f41f0f57e41. And a public method `qz.api.showDebug(<bool>)`.
This should cover more interactions, but I'm not sure if there's other spots we would want debug lines.

[2016-02-09 15:49] tresf commented on #167
Looks good!  We can add more as needed.

**Edit:** Added to documentation https://qz.io/wiki/FAQ#debugging-websockets-in-20
**Edit:** Missing `@memberof qz.api` so not listing in API yet.

Closed via df266a9.

[2016-02-09 15:49] #167 closed, assigned to nobody

[2016-02-09 16:05] tresf commented on #167
@bberenz I think we missed the API documentation here...

[2016-02-09 20:01] tresf commented on #152
Closed via 43cef2e.

[2016-02-10 15:44] tresf commented on #135
@jmb-oliveira please try our 1.9.6 build here:
https://github.com/qzind/qz-print/releases/tag/v1.9.6

[2016-02-10 16:43] jmb-oliveira commented on #135
Very thanks, @tresf

I'm using the 2.0-dev and working well :)
We'll wait the 2.0 release

[2016-02-10 16:48] tresf commented on #135
@jmb-oliveira ok great.  Offtopic of course, but we've released RC1 here: https://github.com/qzind/qz-print/releases/tag/2.0.0-RC1

[2016-02-10 19:49] klabarge opened #169 "QZ Tray notifications on Mac"
Tested on Mac OSX 10.8 and 10.11 and QZ Tray 1.9.6

When a notification is triggered (even with "show all notifications" unchecked) it disappears when focus is taken off of it.  I have mixed results on what actually takes focus away, but sometimes it is clicking on the webpage, sometimes a JavaScript alert does it.

After this alert is triggered and disappears, it will show up on every action (Lis

[2016-02-10 20:00] klabarge opened #170 "QZ Tray "freezes" after sending data through serial connection"
Tested on Windows 10, QZ Tray 1.9.6

The **"Send Port Cmd"** function on the demo page seems to (for lack of a better word) "freeze" QZ Tray.

Steps:
1. Select a serial port and click **Open Port**
2. Click **Send Port Cmd** (hit allow access 4 times)
3. Select **Close Port** or other functions such as **"Use Default Printer"**
   - Observe activity in the console with no errors, but clicking thes

[2016-02-10 20:09] noramtkane opened #171 "Using color in postscript images results in poor quality with CUPS"
I am using QZ-tray 1.9.5 and use html2canvas to make a rather complicated 4.x6 label on a Zebra GK420d. On windows it looks fine but when using linux the label looks dithered and is impossible to read.

I took the postscript that CUPS saves for the job and it looked fine. I ran it though the gstoraster  filter manually and that it where the problem occurs. I can see that the image in the postscrip

[2016-02-10 20:22] tresf commented on #171
If you're not yet heavily invested in the 1.9 version, I'd recommend [switching over to 2.0](https://github.com/qzind/qz-print/releases/tag/2.0.0-RC1), which uses a much better method for rendering HTML content (html2canvas has been abolished in 2.0).  The major downside of this is that if your CUPS environment is Linux, you'll need to find a JavaFX8 package for your desktop.  Another disadvantage

[2016-02-11 04:40] tresf commented on #170
Reproduced, but only with the `com0com` virtual serial port driver.

When I plugged in my USB->Serial adapter, this didn't occur.  I believe `com0com` is hanging the software at [`port.readBytes(...)`](https://github.com/qzind/qz-print/blob/1.9/src/qz/common/SerialIO.java#L225) which should timeout after 1.5 seconds, but instead hangs QZ Tray about 75% of the time (this didn't happen the first tim

[2016-02-11 04:40] #170 closed, assigned to nobody

[2016-02-11 04:57] #169 closed, assigned to nobody

[2016-02-11 04:57] tresf commented on #151
Closed via 1899365.  Exit pop-up too.  Error messages will still be shown.

[2016-02-11 04:57] #151 closed, assigned to nobody

[2016-02-11 14:47] tresf commented on #171
@noramtkane can you please email me a sample?  I'll fire up 2.0.0-RC1 and see how well it's JavaFX HTML rendering engine can tackle this.

tres.finocchiaro@gmail.com

[2016-02-11 15:21] tresf commented on #154
Closing as `wont-fix` for now. We can reopen at a later time if we determine this is possible.

[2016-02-11 15:21] #154 closed, assigned to nobody

[2016-02-11 15:56] tresf commented on #146
Closed via 9e25f1d.

[2016-02-11 15:58] tresf commented on #146
Still need to do Apple, Linux.  Reopening.

[2016-02-11 16:31] tresf commented on #146
- Linux is done via [`linux-installer.sh.in#L95`](https://github.com/qzind/qz-print/blob/1.9/ant/linux/linux-installer.sh.in#L95).
- Mac is done via 1a9d42f

[2016-02-11 16:31] #146 closed, assigned to tresf

[2016-02-11 16:59] tresf commented on #82
Fixed in `2.0.0-RC1`.  See usage here: https://qz.io/wiki/2.0-pixel-printing#html-printing

![image](https://cloud.githubusercontent.com/assets/6345473/12983344/e5577ade-d0b6-11e5-883d-522fe785bdd1.png)

[2016-02-11 16:59] #82 closed, assigned to nobody

[2016-02-11 17:03] tresf commented on #42
@lite1979 Let's get the Star hardware ordered so we can close this one out.

[2016-02-12 02:50] #44 closed, assigned to nobody

[2016-02-12 14:21] tresf commented on #156
This bug still exists for metric units, reopening.  This is reproducible on Windows as well.

These two statements should yield near-identical results, but they do not.

A4, `mm`:

[code]

A4, `inches`:

[code]

(blurring was done intentionally)
![image](https://cloud.githubusercontent.com/assets/6345473/13009559/089869b8-d16b-11e5-93d4-f94ac1156b0b.png)

[2016-02-12 14:32] tresf opened #173 "PDF top margin off on Mac"
Settings:

[code]

Using CUPS PDF driver:
![image](https://cloud.githubusercontent.com/assets/6345473/13009630/7cdc9e98-d16b-11e5-80e7-fa009a00f16b.png)

Expected output: https://github.com/qzind/qz-print/issues/156#issuecomment-183349840

Related: #156
Currently, DPI must be forced due to: #155

[2016-02-12 14:34] akberenz commented on #173
Can you provide logs?

[2016-02-12 14:36] tresf commented on #173
I'll work on that now.  On a side-note, if we can make trace-logs configurable (rather than a compile option), that would make the log turn-around a bit quicker.

[2016-02-12 14:45] akberenz commented on #156
Do you have multiple PDF printers? Because you specify two different names in the configs, so it could be an issue of incorrect density on the second printer.

[2016-02-12 14:52] tresf commented on #156
No, I just had the Mac line in the clipboard at the time.  The test results were both done on the same machine with the same printer, despite the mistake you've noticed.

[2016-02-12 14:53] akberenz commented on #156
I need logs then, because I cannot reproduce.

[2016-02-12 14:57] tresf commented on #173
Logs:

**Edit:** Updated with the JSON message in case there's something funny going on there. :+1:

[code]

[2016-02-12 15:01] tresf opened #174 "SingleInstanceChecker throws ConnectionException on Mac"
@Vzor-,

On Windows, the `SingleInstanceChecker` is fairly quiet, but on Mac, it throws some rather ugly errors, which should be suppressed, I'd think.

[code]

[2016-02-12 15:03] tresf commented on #156
Logs:

[code]

[2016-02-12 17:05] tresf commented on #173
**Edit:** Updated with the JSON message in case there's something funny going on there. :+1:

[2016-02-12 17:19] tresf commented on #156
I could also reproduce this on the XPS document writer so as long as I use `mm` for a measurement.  It seems to ignore the scaling.

[2016-02-12 17:58] #174 closed, assigned to nobody

[2016-02-12 18:57] tresf commented on #171
@noramtkane I'm closing this out, since it's a question.  Please continue using this thread for discussion.  If we can get proper steps to reproduce on 2.0, we'll reopen.

[2016-02-12 18:57] #171 closed, assigned to nobody

[2016-02-12 19:03] tresf commented on #67
@klabarge some more details on this...

I couldn't understand why this was so unpredictable... this is why:

:white_check_mark: Run from local hard drive, WebSocket Succeeds
:no_entry: Run from https://demo.qz.io, WebSocket is blocked unless the above settings are checked

Hopefully that puts more context into this issue.

[2016-02-13 21:57] tresf commented on #156
@bberenz I found something....

[code]

It appears width and height are never getting converted to pixels, so the conversion causes some incorrect scaling to occur.

**Edit:** Is `Size` supposed to be a measurement of `pixels` or a measurement of `units`?

[2016-02-13 22:00] tresf commented on #156
Is `Size` supposed to be a measurement of `pixels` or a measurement of `units`?

[2016-02-13 22:07] akberenz commented on #156
It is a measurement of units. This way users can just pass us "8.5" and "11" without having to multiply it by the correct dpi first.
You can see it converted to pixels as the drawable area, `Drawable area: 0.0,0.0:595.2744,841.88806`

[2016-02-13 22:23] tresf commented on #156
Ok, that makes sense... I guess what doesn't though is the way we're handing conversion.  Shouldn't `Size` do that for us?  For example, if we want pixels, shouldn't we be able to do something like `Size.getPixelWidth()`, `Size.getPixelHeight()`.  As you pointed out yesterday, that `CONVERT` is definitely misplaced, but that starts to bring light to other places it is used, such as:

`
 pageW = (f

[2016-02-13 23:29] tresf commented on #156
Another few items...

[code]
In my opinion, these should be rounded to the nearest whole number.

I took a swing at the code for about an hour, but keep getting different places that it crashes (overflow caused by stuff being too big or out of bounds caused by something in AWT), so I'm giving up for now.

[2016-02-13 23:59] klabarge commented on #161
These should behave identically, right?  It seems that when `density` is not specified, it defaults to 72dpi, and when `density` is set to _null_ it is set 600dpi

##### Density not specified

![image](https://cloud.githubusercontent.com/assets/12505463/13030631/89b4f13c-d27f-11e5-9971-747199425b7c.png)

##### Density set to null

![image](https://cloud.githubusercontent.com/assets/12505463/130306

[2016-02-14 00:12] klabarge commented on #161
Please disregard this, I was testing with an outdated `qz-tray.js` file.  This worked with the updated file.

[2016-02-14 00:12] #161 closed, assigned to akberenz

[2016-02-14 23:53] klabarge commented on #152
I'm having a hard time setting the paper size for images.

I have added a custom page size to my OS:

![image](https://cloud.githubusercontent.com/assets/12505463/13035505/d2f8e5ce-d31f-11e5-843d-350588d18b05.png)
1. Using `size` option:
   When I provide these dimensions with the config, a much different page size is chosen.

[code]
   - Even when I make this custom paper size the default paper s

[2016-02-15 19:42] akberenz commented on #156
`CONVERT` (and subsequently `pageW`) uses _72_ because java wants page size provided as if it was using inches at 72dpi.
The _11.811_ is handled in the `new PrinterResolution(...)` call (after being converted from dpmm to dpi). This attribute is handled entirely by the printer to scale the content to the proper size, after we've drawn it at _72_. This is why there tends to be empty space if the de